.join-header {
    color: #FFF;
    font-family: 'Space Mono 700';
    font-size: 10vw;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.join-text {
    color: #FFF;
    font-family: "Outfit";
    font-size: 3vh;
    width: 90vw;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.column-container {
    display: flex;
    margin: 3vw;
    padding-bottom: 10vh;
    justify-content: center;
}

.left-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 3vh;
}

.right-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 3vh;
}

.mobile-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 2vw;
}
