a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .background-black-wheel {
    background-color: black;
    width: 70vh;
  }
  
  .background-black-text {
    background-color: black;
    width: 80vh;
  }
  

  .paragraphText {
    /*width: 55vh;*/
    width: min(55vh, calc(80vw - 12vh));
    height: 29.86vh;
    top: 71.14vh;
    margin-top: 6.27vh;
    /* B1 */
    font-family: 'Outfit 400';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 3.5vh;
    /* or 156% */
    
    
    color: #FFFFFF;
  }
  


  .column{
    display: flex;
    flex-direction: column;
  }

  .alignItemsRight {
    display: flex;
    flex-direction: row;
  }

  
  .DevelopmentWheelThree {
    height: 63.11vh;
    margin-top: 12.55vh;
    /*margin-left: 12.55vh;*/
    
  }

  .rotateThree {
    transform: rotate(230deg);
  }

  .ideation {
    margin-left: 12.55vh;
  }

 

  .PrototypeText{
    width: 44.29vh;
    height: 11.22vh;
    left:  96.23vh;
    top: 33vh;
    margin-top: 12.55vh;

    /* H2 */

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: min(7.5vh, 10vw);
    line-height: 11.22vh;
    /* identical to box height, or 128% */

    text-transform: uppercase;

    

    color: #FF6660;
  }

  