.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 0 10px 10px 10px;
}

.container {
  width: unset;
  display: flex;
  flex-direction: row;
}

.vertical-div {
  width: 50px;
}

.text-div-equity {
  padding: 0 0 0 8em;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
}

.outline-equity {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 90px;
  padding: 0 10px 10px 10px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffbf3c;
}

.cultureThree-text {
  font-size: 25px;
}
