/* Move to public folder */
.text-no-fill {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.our-mission-quotation-mark {
    color: #187DFF;
    font-family: 'Space Mono 700';
    font-size: 6vw;
    line-height: 75%;
}

.our-mission-quote {
    color: white;
    font-family: 'Outfit 400';
    font-size: 1.7vw;
    line-height: 170%;
}

.our-mission-header {
    font-family: 'Space Mono 700';
    font-size: 17vw;
    line-height: 77%;
    color: #187DFF;
}

.our-mission-our-values {
    color: #FFBF3C;
    font-size: 1.7vw;
    line-height: 100%;
    font-family: 'Space Mono';
    margin-right: 3%;
}

.our-mission-we-are {
    color: #FFBF3C;
    font-size: 15vw;   
    line-height: 77%;
    font-family: 'Space Mono 700';
    word-spacing: -5vw;
}

.mission-desktop {
    width: 100vw;
    height: 100vh;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

@media only screen and (max-device-width: 650px) {
    .quote-text {
        width: 100% !important;
        padding: 0% !important;
        flex-direction: column;
    }

    .our-mission-quote {
        font-size: 3vh;
    }
    
    .our-mission-quotation-mark {
        float: left;
        font-size: 7vh;
        line-height: 4vh;
        height: 4vh;
    }

    .bottom-quote {
        padding-top: 2vh !important;
    }

    .our-mission-header {
        padding: 0% !important;
        margin-top: 2vh;
        font-size: 10vh;
        line-height: 10vh;
    }

    .mission-mobile {
        padding-left: 0% !important;
        padding-right: 0% !important;
        width: 100% !important;
        height: 80% !important;
    }
}