.logo {
  width: 25vmin;
  padding: 4vmin;
  object-fit: contain;
}

.image {
  width: 25vmin;
  height: auto;
}

.image-tall {
  width: 12.5vmin;
  height: auto;
}

.prev-proj-wrapper {
  background-color: #111111;
  flex-direction: row;
  align-items: center;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7vh;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7vh;
}

.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10vh;
  margin-top: 7vh;
}

@media only screen and (min-aspect-ratio: 6/10) {
  .logo {
    width: 25vmin;
    padding: 4vmin;
    object-fit: contain;
  
  }
  
  .image {
    width: 50vh;
    height: auto;
  }
  
  .image-tall {
    width: 25vh;
    height: auto;
  }
  
  .prev-proj-wrapper {
    background-color: #111111;
    display: inline;
    flex-direction: row;
    width: 60vh;
  }
  
  .wrapper {
    display: flex;
    height: 65%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
    column-gap: 15vw;
  }
  
  .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 86vh;
    margin: vw;
  }
  
  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 86vh;
  }
  
  .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 86vh;
  }
}

@media only screen and (max-device-width: 650px) {
  .prev-proj-wrapper .wrapper {
    flex-direction: column;
    margin-left: 0;
  }

  .prev-proj-wrapper .logo {
    max-width: unset;
    max-height: unset;
    width: unset;
    padding: 0;
  }

  .prev-proj-wrapper .col-1,
  .prev-proj-wrapper .col-2,
  .prev-proj-wrapper .col-3 {
    align-items: center;
    width: unset;
    margin-left: 0vh;
    margin-top: 0vh;
  }

  .prev-proj-wrapper .logo img {
    width: 75vw;
  }
}