.logo {
  width: 18.75vh;
  padding: 4vh;
  object-fit: contain;

}

.image {
  width: 25vmin;
  height: auto;
}

.image-tall {
  width: 12.5vmin;
  height: auto;
}

.prev-proj-wrapper {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  height: 65%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7%;
  column-gap: 15vw;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 86vh;

}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 86vh;
}

.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 86vh;
}

