.fp2 {
    margin-top: -0.5px;
}


/*
@media only screen and (max-device-width: 650px) {
  .p {
    width: 34px;
  }
}
*/

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 6vh;
}

.column-1 {
    display: flex;
    width: 90vh;
    flex-direction: column;
}

.column-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.column-3 {
    display: flex;
    flex-direction: column;
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-text {
    font-family: Outfit 500;
    font-size: 3vh;
    font-weight: 700;
    padding-right: 2vh;
}

.name-text {
    font-family: Outfit 500;
    font-size: 3vh;
}

.school {
    font-family: Outfit 500;
    font-size: 2vh;
    text-transform: uppercase;
}

.name-order {
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
}

.client-blurb {
    width: 40vh;
    padding-top: 6vh;
    align-self: flex-end;
}

.bottom-corner {
    /* padding-top: 2.5em; */
    padding-bottom: 5vh;
    align-self: flex-start;
}

.product-img-container {
    padding-top: 5vh;
    padding-left: 14vh;
    margin-top: 14vh;
}

.mockup-img {
    /* position: absolute; */
    /* height: 30em; */
    width: 74vh;
    margin-left: -12vh;
    min-height: 100%;
}

.top-corner {
    align-self: flex-end;
    height: 40vh;
}

.quote-container {
    /* align-self: flex-end; */
    width: 80%;
    /* padding-top: 1em; */
    /* padding-right: 2em; */
}


/* .fp1-quotation-mark {
    color: #ffbf3c;
    font-family: "Space Mono 700";
    font-size: 3vw;
    line-height: 50%;
  } */

blockquote {
    font-family: Outfit 300;
    font-size: 1.2vw;
    position: relative;
    margin: 1vh;
    margin-top: 10vh;
    margin-left: 6vh;
    /* padding: 0.5em 2em 0.5em 3em; */
}


/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before {
    font-family: "Space Mono 700";
    color: #ffbf3c;
    position: absolute;
    font-size: 6vh;
    line-height: 1;
    top: 0;
    left: -1.5vh;
    content: "\201C";
}

blockquote:after {
    font-family: "Space Mono 700";
    color: #ffbf3c;
    position: absolute;
    float: right;
    font-size: 6vh;
    line-height: 1;
    right: 0vh;
    bottom: -1vh;
    content: "\201D";
}

h1 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: bolder;
    font-size: 4.5em;
    text-transform: uppercase;
}

#fp2-header {
    font-size: 9vh;
}

#fp2-teams {
    font-family: "Space Mono";
    font-size: 3vh;
}


/*
@media (min-width: 651px) or (min-device-width: 651px) {
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20vh;
    background-color: white;
  }
  
  .column-1 {
    width: max(60vh, 600px);
    margin-top: -3vh;
  }
  
  .column-1-text {
    padding-top: 15vh;
    padding-left: 25vh;
    display: flex;
    flex-direction: column;
  }
  
  .column-2 {
    width: 70vh;
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
  }
  
  .column-3 {
    width: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .client {
    width: 50vh;
    flex-direction: row;
    padding-top: 3%;
  }
  
  .client-text {
    font-family: Outfit 500;
    font-size: 3vh;
    line-height: 3vh;
    ;
    font-weight: 700;
    padding-right: 2vh;
  }
  
  .name-text {
    font-family: Outfit 500;
    font-size: 3vh;
  }
  
  .school {
    font-family: Outfit 500;
    font-size: 2vh;
    text-transform: uppercase;
  }
  
  .name-order {
    display: flex;
    flex-direction: column;
    margin-right: 10vh;
  }
  
  .client-blurb {
    width: 40vh;
    padding-top: 6vh;
    align-self: flex-end;
    font-size: 3vh;
  }
  
  .bottom-corner {
    padding-bottom: 5vh;
    align-self: flex-start;
  }
  
  .bottom-corner-img {
    margin-top: -23vh;
    margin-left: 10vh;
    height: 25vh;
  }
  
  .product-img {
    /* position: absolute; 
    height: 80vh;
    margin-top: -8vh;
    margin-left: -4vh;
    min-height: 100%;
  }
  
  .product-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
    padding-left: 14vh;
    margin-top: 14vh;
  }
  
  .top-corner {
    align-self: flex-end;
    height: 40vh;
  }
  
  .top-corner-img {
    margin-top: 5vh;
    margin-right: 8vh;
    align-self: flex-end;
    height: 25vh;
  }
  
  blockquote {
    font-family: "Outfit 300";
    font-size: 2.5vh;
    position: relative;
    margin: 2vh;
  }
  
  blockquote:before {
    font-family: "Space Mono 700";
    color: #ffbf3c;
    position: absolute;
    font-size: 6vh;
    line-height: 1;
    top: 0;
    margin-left: -2vh;
    left: -2vh;
    content: "\201C";
  }
  
  blockquote:after {
    font-family: "Space Mono 700";
    color: #ffbf3c;
    position: absolute;
    float: right;
    font-size: 6vh;
    margin-top: 2vh;
    margin-right: 12vh;
    line-height: 1;
    right: 0vh;
    bottom: -1vh;
    content: "\201D";
  }
  
  h1 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: bolder;
    font-size: 9vh;
    line-height: 9vh;
    text-transform: uppercase;
  }
  
  .quote-container {
    font-family: "Outfit 300";
    font-size: 2.5vh;
    position: relative;
    margin: 2vh;
    margin-left: 2vh;
  }
  
  .block_quote {
    margin-left: 13vh;
  }
}
*/

@media (max-width: 650px) or (max-device-width: 650px) {
    .parent {
        flex-direction: column;
        width: 100%;
    }
    #fp2-header {
        font-size: 12vw;
    }
    #fp2-teams {
        font-size: 5vw;
    }
    .client-blurb {
        padding-top: 3vh;
        margin: auto;
    }
    .name-order {
        margin-right: 0;
    }
    .client {
        align-items: baseline;
    }
    .client-blurb p {
        font-size: 2vh;
        margin: auto;
    }
    .product-img-container {
        margin-top: 12px;
        display: flex;
        height: fit-content;
        justify-content: center;
    }
    .mockup-img {
        width: 80vw;
    }
    .bottom-corner,
    .top-corner {
        display: none;
    }
    .quote-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .quote-container blockquote {
        font-size: 2vh;
        margin-left: 0;
    }
    .quote-container blockquote::before {
        top: -3.5vh;
        left: 1.5vh;
    }
    .quote-container blockquote::after {
        left: -0.5vh;
        bottom: -6vh;
    }
    .p {
        width: 34px;
    }
}