html,
body {
  height: 100%;
  margin: 0px;
}


.flex-parent {
  height: 35vh;
  display: flex;
}

.flex-child {
  flex: 1;
  /* takes care of the width / height */
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.culture-general-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  -webkit-mask-image: linear-gradient(to right, transparent 15%, black 85%);
  mask-image: linear-gradient(to right, transparent 15%, black 85%);
}

.img2 {
  -webkit-mask-image: linear-gradient(to right, transparent 15%, black 85%);
  mask-image: linear-gradient(to right, transparent 15%, black 85%);
}

.img3 {
  -webkit-mask-image: linear-gradient(to right, transparent 15%, black 85%);
  mask-image: linear-gradient(to right, transparent 15%, black 85%);
}