span {
  font-family: "Space Mono 700";
  font-size: 2.46vh;
  line-height: 3.69vh;
  text-transform: capitalize;
}

.bar-size {
  height: max(50px, 7vmin);
  width: max(250px, 35vmin);
}

.menu-hover {
  cursor: pointer;
}

.menu-font-style {
  font-family: "Space Mono 700";
  font-size: 12vw;
  line-height: 100%;
}

.header-font-style {
  font-family: "Space Mono 700";
  font-size: 4.5vw;
  line-height: 128%;
  font-size: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.header-font-style:hover {
  background-color: black;
  color: #ffbf3c !important;
}

.header-font-style:hover,
.header-font-style:active {
  cursor: pointer;
}

.h-line {
  position: absolute;
  height: 1px;
  background-color: black;
}
.v-line {
  position: absolute;
  width: 1px;
  background-color: black;
}

.close-button {
  position: absolute;
  font-size: 2.5vh;
  top: 1%;
  left: 93.5%;
}

.modal-header {
  padding: 0 0 0 0;
}
.menu-font-style {
  font-size: 15vw;
  text-transform: uppercase;
}

.newsletter-font {
  font-size: 5vw;
  font-family: "Space Mono 700";
  line-height: 100%;
  text-transform: uppercase;
  transform: rotate(270deg);
}

@media only screen and (max-device-width: 650px) {
  .bar-size {
    height: 5vh;
    width: 5vh;
  }
  .wrapper-nav {
    width: 5vh;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: 1px solid black;
  }
  .hamburger-mobile {
    transform: scale(2.5);
  }
  .close-button {
    font-size: 10vw;
    top: 7.5%;
    left: 77.5%;
  }

  .header-font-style {
    font-size: 10vw;
  }

  .newsletter-font {
    font-size: 12.5vw;
    transform: none;
  }
}
