VITE_API_URI=https://generatenu-backend.fly.dev/api
VITE_SANITY_PROJECT_ID=4whxapdc
VITE_SANITY_DATASET='generate-schema'
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=
VITE_SANITY_API_TOKEN=skF3Fus8HjXlmusYsjqHsO21TJefCfn9QcL8ZYrsFFpM3CJabnH5iPMdSlvOlZEmsuGhEYXc0bb4TdXwHbNExyd1FD7EYak6jI5ZKrTLPjBkrls9K5hRWcQPeyxpEDXazKiAPelHTeWIxSt0nqUOG4POWFbcRygLqGBp8xnSwnoI2B7DaNsW
