a {
  text-decoration: none;
  color: #ffffff;
}
.footer-container {
  background-color: #187dff;
  width: 18vw;
  text-align:left;
  float:left;
}

.footer-text {
  height: 30px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 18%;
  margin: 5%;
  white-space: nowrap;
}

.disabled-footer-text {
  pointer-events: none;
  color: #e0e0e0;
}

a:hover {
   font-weight: 1000;
   color: #ffffff;
}

.sherm{
    /* margin-top: 25%; */
    margin-left: 15%;
}

.logo-background {
    background-color: white;
    width: 35%;
    height: 50%;
}

.logo-placement {
  margin: 10%;
  width: 60%;
  height: 50%;
  padding: 5%;
}

.logo-shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.social-icons {
    margin-top: 50%;
    margin-left: 20%;
    margin-right: 40%;
}

.footer-two {
  background-color: orange;
  align-items: right;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
}
.rectangleLogo{
  /* display: inline-block; */
  margin-left: 50px;
  margin-top: 20px;
  width: 90px;
  height: 90px;
  background: black;
}
.icon {
    padding-bottom: 10%;
}

@media only screen and (max-device-width: 650px) {
  .footer-container {
    padding-bottom: 5vh;
    width: 100%;
  }

  #footer-links {
    display: flex;
    justify-content: space-around;
  }

  .footer-text {
    font-size: 5vw;
    padding-bottom: 2.5vh;
  }

  .footer-text:has(b) {
    margin-top: 1vw;
  }

  .sherm {
    margin: 0;
  }

  #footer-pages {
    margin: 0;
    width: 100%;
  }

  .social-icons {
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    margin-right: 8vw;
  }

  .social-icons .row {
    padding-bottom: 2vh;
  }

  .social-icons .icon {
    padding-right: 2vh;
  }

  .social-icons .icon a img {
    height: auto;
    width: 4vh;
  }

  .logo-placement {
    width: 40%;
  }
}