a {
  text-decoration: none;
  color: #ffffff;
}
.footer-container {
  background-color: #187dff;
  width: 20vw;
  text-align:left;
  float:left;
}

.footer-text {
  height: 30px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 15%;
  margin: 5%;
}

a:hover {
   font-weight: 1000;
   color: #ffffff;
}

.sherm{
    margin-top: 25%;
    margin-left: 25%;
}

.logo-background {
     background-color: white;
     width: 70px;
     height: 60px;
}

.social-icons {
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 40%;
}

.footer-two {
  background-color: orange;
  align-items: right;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
}
.rectangleLogo{
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  width: 90px;
  height: 90px;
  background: black;
}
.icon {
    padding-bottom: 10%;
}