.card-container {
  display: flex;
  margin-left: 4%;
  width: 45% !important;
  flex-direction: column;
}

.card-container:hover:not(.expanded) {
  box-shadow: 0 0 !important;
}

.header-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  gap: 15px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.interactive-button {
  display: flex;
  width: 100% !important;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  background-color: white;
  border: 0;
  gap: 10px;
}

.expanded-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  background-color: white;
  border: 0;
}

.header {
  font-family: 'Space Mono 700';
  font-size: 7vw;
  line-height: 90px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
}

.subheader {
  color: black;
  font-family: 'Space Mono 700';
  font-size: 36px;
  line-height: 100%;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.paragraph {
  color: black;
  font-family: "Outfit";
}
