.card-container {
  display: flex;
  flex-direction: column;
  width: 42vw !important;
}

.card-container:hover:not(.expanded) {
  box-shadow: 0 0 !important;
}

.header-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: black;
  padding: 15px;
  gap: 15px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.interactive-button {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  gap: 10px;
  border: 0;
}

.expanded-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  background-color: white;
}

.header {
  font-family: 'Space Mono 700';
  font-size: 6.5vw;
  line-height: 100%;
  text-transform: uppercase;
}

.subheader {
  color: black;
  font-family: 'Space Mono 700';
  font-size: 3vw;
  line-height: 100%;
  text-transform: uppercase;
}

.paragraph {
  color: black;
  font-size: 2vh;
  font-family: "Outfit";
}
