 .h-25 {
     height: 25%;
 }
 .h-75 {
     height: 75%;
 }

 .left-color {
     background-color: #1477F8;
 }

 .position-title {
    /* Text style */
    font-family: 'Space Mono';
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    /* Text sizing */
    line-height: 105%;
    font-size: 6vw;
    /* Box style */
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.position-type {
    color: transparent;
    -webkit-text-stroke: .15vw white;
    line-height: 100%;
    font-size: 6vw;
}

.position-summary {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6vw;
    line-height: 140%;
}

.position-info a {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
}

.position-info h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    margin: 0;
}

.fw-500 {
    font-weight: 500 !important;
}

.position-info li{
  font-size: 1.4vw;
  font-family: 'Outfit';
  font-weight: 300;
  line-height: 145%;
}

.position-info ul{
  padding-bottom: 5%;
  list-style: none; 
}

.position-info ul li::before {
  content: "\2022";
  color: #1477F8;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.position-info h4 {
    color: rgba(17, 17, 17, 0.7);
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 1.6vw;
    margin-bottom: 2%;
}