.culture-text-box{
    width: 35vw;
}

.culture-text {
    font-family: 'Outfit 300';
    font-size: min(4vmin, 150%);
    line-height: 4vmin;
  }

.nospacing {
    margin:0%;
    padding: 0%;
}

.culture-outline {
    -webkit-text-stroke: 1px #DFDFDF;
}