.all-projects-container {
    position: relative;
    display: flex;
    max-width: unset;
    width: calc(100vw + 25px);
}

.all-projects-header {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    width: -moz-fit-content;
    width: fit-content;
}

.all-projects-header .projects-title {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
}

.all-projects {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: space-evenly;
}

.project-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}