.cs-client-quote-style {
  font-family: 'Space Mono';
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.cs-client-quote-marks-style {
  font-family: 'Space Mono';
  font-size: 25vw;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: 0em;
  text-align: left;
}
