.img-formatting {
  width: 27em;
  height: 32em;
  border: 1px solid;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.for-padding {
  padding: 1em;
}

.intro-images {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  left: -20%;
}
