.img-formatting {
  width: 18.75em;
  height: 28.12em;
  object-fit: cover;
  border: 1px solid;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.for-padding {
  padding: 2em;
  margin-top: 20%;
}

.intro-images {
  display: flex;
  flex-direction: row;
}
