
.nospacing {
    margin:0%;
    padding: 0%;
}

.vh-100 {
    display: inline;
  }

.mobile {
    display: none;
  }

@media only screen and (max-device-width: 650px) {
    .vh-100 {
      display: none;
    }
    .mobile {
      display: inline;
    }
}
