.whoWeAreResponseContainer{
    width: 70%;
    margin:0%;
    padding: 0%;
}

.greenrectangle{
    /* width: 70%; */
    height: 60vh;
    background:  #6FCF97;;
}

.yellowrectangle{
    /* width: 70%; */
    height: 40vh;
    background: #FFBF3C;;
}

.somesaytext {
box-sizing: border-box;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 8.78vh;
line-height: 11.22vh;
text-align: left;
/* identical to box height, or 128% */

text-transform: uppercase;
color: #6FCF97;
text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}


.weareresponse {
    padding:5%;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 7.56vh;
line-height: 8vw;
text-transform: uppercase;
color: white;
}

.generateLogoWhiteStyle {
    padding: 2%;
    height: 40vh;
}