.whoWeAreResponseContainer{
    width: 70%;
    margin:0%;
    padding: 0%;
}

.greenrectangle{
    /* width: 70%; */
    height: 60vh;
    background:  #6FCF97;;
}

.yellowrectangle{
    /* width: 70%; */
    height: 40vh;
    background: #FFBF3C;
    /*display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/

}

.somesaytext {
    color: #6FCF97;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 7.5vmin;
    line-height: 6vmax;
    text-transform: uppercase;
}


.weareresponse {
    padding:5%;
    padding-top: 10;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 7.5vmin;
line-height: 6vmax;
text-transform: uppercase;
color: white;
overflow-wrap: break-word;
}

.generateLogoWhiteStyle {
    padding: 2%;
    height: 40vh;
    object-fit: contain;
}

.logo-mobile {
    display: none;
}


@media only screen and (max-device-width: 650px) {
    .whoWeAreResponseContainer {
        width: 100%;
    }

    .yellowrectangle {
        height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }

    .generateLogoWhiteStyle {
        width: 25vw;
        height: auto;
    }

    .logo-mobile {
        display: contents;
    }

}