.csm-back {
  padding-top: 4vh;
  padding-left: 6vw;
  padding-bottom: 3vh;
  color: #000;
  font-family: 'Space Mono';
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

.csm-header-container {
  margin-bottom: 10vh;
}

.csm-back-button-style {
  color: #000;
  font-family: 'Space Mono';
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  display: flex;
  flex-direction: row;
}

.csm-mobile-flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 8vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.csm-title-style {
  font-family: 'Space Mono';
  font-size: 10vw;
  padding-bottom: 1vw;
  font-weight: bolder;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.csm-image {
  width: 80vw;
  height: 60vw;
  margin-top: 5vh;
}

.csm-description-style {
  padding-top: 4vh;
  font-family: 'Outfit';
  font-size: 4vw;
  font-weight: lighter;
  line-height: 8vw;
}

.csm-team-sizing {
  width: 20vw;
  /* This is the base width of the svg */
  min-width: 81px;
}

.csm-client-style {
  color: #111;
  font-family: 'Outfit';
  font-size: 5vw;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
  padding-bottom: 1vw;
}

.csm-client-name-container {
  margin-left: 1vw;
}

.csm-client-name-style {
  color: #111;
  font-family: 'Outfit';
  font-size: 5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  padding-bottom: 1vw;
}

.csm-client-title-style {
  font-family: 'Outfit';
  font-size: 3vw;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  text-transform: uppercase;
}

.csm-client-container {
  padding-top: 2vh;
  margin-bottom: 10vh;
}
