
.sidetext {
    font-family: 'Space Mono';
    font-style: bold;
    font-weight: 700;
    font-size: 92px; 
    line-height: 92px;
    text-shadow: -1px 0 #6FCF97, 0 1px #6FCF97, 1px 0 #6FCF97, 0 -1px #6FCF97;
    transform: rotate(90deg);
    text-transform: uppercase;
}
    
.numbertextd {
        color: white;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 92px;
        text-transform: uppercase;
        text-shadow: -2px 0 #DFDFDF, 0 2px #DFDFDF, 2px 0 #DFDFDF, 0 -2px #DFDFDF;
    }
    
/* 
    .diversity {
        position: relative;
        width: 30%;
        
    } */

    .descriptions {
        position: relative;
        width: 450px;
        height: 276px;
        left: 50px;
        top: 30%;
    
    }

    .paragraph{
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 34px;
        color: #111111;
    }
    
    .sideways_d {
        position: relative;
        left: -417px;
        top: 350px;
        width: 1634px;
        height: 92px;
    }
    
    div.number {
        position: relative;
    width: 169px;
    height: 92px;
    left: 50px;
    top: 30%;
    }
    
    .white-text {
        color: white;
        font-size: 90px;
     }
    
     .green-text {
        color: #6FCF97;
        font-size: 90px;
     }

     .left-arrange {
        margin-left: 1%;
     }


     .left-arrange2 {
        margin-left: 20%;
        margin-top: 0px;
     }

     .left-arrange3 {
        margin-left: 60%;
        margin-top: 0px;
        margin-right: -30%;
     }