.shermancenter {
    position: absolute;
    width: 1440px;
    height: 904px;
    left: 0px;
    top: 100px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/images/landingpage/weare/The_Sherman_Center.jpg');
    background-size: cover;
}

.wearetext {
    position: absolute;
    width: 133px;
    height: 53px;
    left: 125px;
    top: 294px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.generatetext {
    /* generate */
    position: absolute;
    width: 1225px;
    height: 370px;
    left: 108px;
    top: 265px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 250px;
    line-height: 370px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.scrolltext {
    /* scroll */
    position: absolute;
    width: 74px;
    height: 30px;
    left: 1340px;
    top: 792px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    /* Black/White */
    color: #FFFFFF;

}

.bluerectangle {
    position: absolute;
    width: 713px;
    height: 350px;
    left: 1440px;
    top: 0px;
    background: #187DFF;
}

.whowearetext {
    /* WHO we are */
    position: absolute;
    width: 441px;
    height: 92px;
    left: 1540px;
    top: 500px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    /* identical to box height, or 128% */
    text-transform: uppercase;
    /* Black/White */
    color: #FFFFFF;
}

.whowearetextmobile {
    position: absolute;
    width: 441px;
    height: 80px;
    left: 24px;
    top: 228px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    /* identical to box height, or 128% */
    text-transform: uppercase;
    /* Black/White */
    color: #FFFFFF;
}

.purplerectangle {
    /* who we are */
    position: absolute;
    width: 713px;
    height: 554px;
    left: 1440px;
    top: 350px;
    /* Core/ENGMNT Purple */
    background: #A559EC;
}

.whoweareparagraph {
    position: absolute;
    width: 523px;
    height: 374px;
    left: 1540px;
    top: 384px;
    text-align: left;
    font-family: 'Outfit 300';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;

    color: #FFFFFF;

}

.greenrectangle {
    position: absolute;
    width: 958px;
    height: 554px;
    left: 2153px;
    top: 0px;
    background: #6FCF97;
}

.somesaytext {
    box-sizing: border-box;

    position: absolute;
    width: 867px;
    height: 92px;
    left: 2211px;
    top: 138px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    text-align: left;
    /* identical to box height, or 128% */

    text-transform: uppercase;
    color: #6FCF97;
    text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}

.somesayparagraphone {
    position: absolute;
    width: 867px;
    height: 368px;
    left: 2316px;
    top: 138px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    text-transform: uppercase;

    color: white;
}

.somesayparagraphtwo {
    position: absolute;
    width: 867px;
    height: 368px;
    left: 2213px;
    top: 230px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    text-transform: uppercase;

    color: white;
}


.yellowrectangle {
    position: absolute;
    width: 958px;
    height: 350px;
    left: 2153px;
    top: 554px;
    background: #FFBF3C;
}

.generatelogowhiteone {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 2203px;
    top: 600px;

    background-image: url('../../../assets/images/landingpage/weare/GenerateLogoWhite.png');
    background-size: cover;
}

.generatelogowhitetwo {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 2477px;
    top: 600px;

    background-image: url('../../../assets/images/landingpage/weare/GenerateLogoWhite.png');
    background-size: cover;
}

.generatelogowhitethree {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 2751px;
    top: 600px;

    background-image: url('../../../assets/images/landingpage/weare/GenerateLogoWhite.png');
    background-size: cover;
}

.whitebox {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1230px;
    top: 762px;

    background-image: url('../../../assets/images/landingpage/weare/WhiteBox.png');
    background-size: cover;
}

.scrollarrow {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1255px;
    top: 787px;

    background-image: url('../../../assets/images/landingpage/weare/ArrowSideways.png');
    background-size: cover;
}