.carousel-inner, .carousel-item {
    height: 100% !important;
}

.h-60 {
    height: 60%;
}

.fit-content {
    height: fit-content;
    width: fit-content;
}

.carousel-header {
    font-family: "commuters-sans800";
    font-style: normal;
    font-weight: 800;
    font-size: 4.5vw;
    line-height: 100%;
    color: #424242;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
}