.project-card {
    display: flex;
    flex-direction: column;
}

.project-teams {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
    justify-content: space-between;
}

.project-teams img {
    height: 48%;
}

.project-card .project-name {
    font-family: "Space Mono 700";
    font-size: 5vh;
    color: black;
    text-align: left;
}

.project-link {
    box-shadow: -2vh 2vh black;
}

.project-images {
    display: flex;
}