.project-card {
    display: flex;
    margin-left: 20%;
    margin-bottom: 10%;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-teams {
    display: flex;
    flex-direction: column;
}

.project-info .project-name {
    font-family: "Space Mono 700";
    font-size: 5vh;
    color: black;
    text-align: left;
}

.project-link {
    box-shadow: -2vh 2vh black;
}