/* first card */
#flip-card {
  width: 523px;
  height: 598px;
  text-align: center;
  margin: 50px auto;
  /* position: absolute; */
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back, #flip-card-btn-turn-to-front {
  position: absolute;
  top: 85%;
  right: 19%;
  width: 150px;
  height: 60px;
  cursor: pointer;
  visibility: hidden;
  padding: 0;
}
#flip-card .flip-card-front, #flip-card .flip-card-back{
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card .flip-card-front {
    background: #FFBF3C;
}
#flip-card .flip-card-back {
    background: #FFBF3C;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card .flip-card-front p, #flip-card .flip-card-back p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}

.leadership_image {
  width: 385px;
  height: 452px;
  margin-top: -17%;
  margin-right: 13%;
}

.management {
  font-family: 'Space Mono700';
  font-size: 48px;
  font-weight: bold;
  line-height: 71.09px;
  transform: rotate(-270deg);
  margin-top: 10%;
  margin-left: 80%;
}

.name {
  font-family: 'Outfit500';
  font-size: 24px;
  text-align: left;
  margin-left: 6.5%;
  margin-top: 3%;
}

.role {
  font-family: 'Outfit300';
  font-size: 24px;
  text-align: left;
  margin-left: 6.5%;
}

.leadership_text {
  font-family: 'Outfit300';
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  width: 75%;
  margin-left: 6.5%;
  margin-top: -17%;
}



/* second card */
#flip-card2 {
  width: 523px;
  height: 598px;
  text-align: center;
  margin: 50px auto;
  /* position: absolute; */
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip2 {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back2, #flip-card-btn-turn-to-front2 {
  position: absolute;
  top: 85%;
  right: 19%;
  width: 150px;
  height: 60px;
  cursor: pointer;
  visibility: hidden;
  padding: 0;
}
#flip-card2 .flip-card-front2, #flip-card2 .flip-card-back2{
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card2 .flip-card-front2 {
    background: #6FCF97;
}
#flip-card2 .flip-card-back2 {
    background: #6FCF97;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card2 .flip-card-front2 p, #flip-card2 .flip-card-back2 p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}





/* third card */
#flip-card3 {
  width: 523px;
  height: 598px;
  text-align: center;
  margin: 50px auto;
  /* position: absolute; */
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip3 {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back3, #flip-card-btn-turn-to-front3 {
  position: absolute;
  top: 85%;
  right: 19%;
  width: 150px;
  height: 60px;
  cursor: pointer;
  visibility: hidden;
  padding: 0;
}
#flip-card3 .flip-card-front3, #flip-card3 .flip-card-back3 {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card3 .flip-card-front3 {
    background: #187DFF;
}
#flip-card3 .flip-card-back3 {
    background: #187DFF;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card3 .flip-card-front3 p, #flip-card3 .flip-card-back3 p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}



/* fourth card */
#flip-card4 {
  width: 523px;
  height: 598px;
  text-align: center;
  margin: 50px auto;
  /* position: absolute; */
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip4 {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back4, #flip-card-btn-turn-to-front4 {
  position: absolute;
  top: 85%;
  right: 19%;
  width: 150px;
  height: 60px;
  cursor: pointer;
  visibility: hidden;
  padding: 0;
}
#flip-card4 .flip-card-front4, #flip-card4 .flip-card-back4 {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card4 .flip-card-front4 {
    background: #FF5751;
}
#flip-card4 .flip-card-back4 {
    background: #FF5751;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card4 .flip-card-front4 p, #flip-card4 .flip-card-back4 p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}





/* fifth card */
#flip-card5 {
  width: 523px;
  height: 598px;
  text-align: center;
  margin: 50px auto;
  /* position: absolute; */
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip5 {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back5, #flip-card-btn-turn-to-front5 {
  position: absolute;
  top: 85%;
  right: 19%;
  width: 150px;
  height: 60px;
  cursor: pointer;
  visibility: hidden;
  padding: 0;
}
#flip-card5 .flip-card-front5, #flip-card5 .flip-card-back5 {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card5 .flip-card-front5 {
    background: #A559EC;
}
#flip-card5 .flip-card-back5 {
    background: #A559EC;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card5 .flip-card-front5 p, #flip-card5 .flip-card-back5 p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}






/* sixth card */
#flip-card6 {
  width: 523px;
  height: 598px;
  text-align: center;
  margin: 50px auto;
  /* position: absolute; */
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip6 {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back6, #flip-card-btn-turn-to-front6 {
  position: absolute;
  top: 85%;
  right: 19%;
  width: 150px;
  height: 60px;
  cursor: pointer;
  visibility: hidden;
  padding: 0;
}
#flip-card6 .flip-card-front6, #flip-card6 .flip-card-back6 {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
#flip-card6 .flip-card-front6 {
    background: #56CCF2;
}
#flip-card6 .flip-card-back6 {
    background: #56CCF2;
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#flip-card6 .flip-card-front6 p, #flip-card6 .flip-card-back6 p {
  color: grey;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}


