/* .ap_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.ap_text1  {
    font-family: 'Space Mono700';
    font-size: 36px;
    background-color: #187DFF;
    color: white;
    margin-top: -10%;

}

.ap_text2  {
    font-family: 'Space Mono700';
    font-size: 36px;
    background-color: #187DFF;
    color: white;

} */

.ap_container {
    height: 100vh;
  }
  
  .ap_img {
    background-image: url("https://c0.wallpaperflare.com/preview/868/175/791/carrot-fake-toy-blue-background.jpg");
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

 .ap_text {
    color: white;
    font-family: 'Space Mono700';
    font-size: 36px;
    position: relative;
    background: #187DFF;
    padding: 0.02em;
    width: fit-content;
    top: 20%;
    margin-bottom: 1%;
    margin-left: 4%;
  }

  .ap_text2 {
    font-family: 'Outfit400';
    font-size: 20px;
    line-height: 30px;
    color:white;
    width: 40%;
    margin-top: 15%;
    margin-left: 4%;
  }

  .ap_link1 {
      color: white;
      font-family: 'Space Mono700';
      font-size: 92px;
      line-height: 130px;
      cursor: pointer;
      margin-left: 4%;
      margin-top: 2%;
  }

   /*hover*/
   .accordion .toggle-btn:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
   }

   * {
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
   }


   .accordion {
    position: relative;
    content: "";
  display: table;
  clear: both;
  margin-left: 4%;
  }
  .accordion .accordion-content {
      display:none;
    height: 367px;
    width: 1440px;
    background-color:
    white;
    overflow: hidden;
    white-space: nowrap;
    padding: 4%;
    margin-left: -4%;
    
  }
  .accordion input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    
  }
  .accordion .toggle-btn {
      color: white;
      font-family: 'Space Mono700';
      font-size: 92px;
      line-height: 130px;
      cursor: pointer;
  }
  .accordion input[type="checkbox"]:checked ~ .accordion-content {
    display: block;
  }

  .accordion_link {
      color: #187DFF;
      font-size: 20px;
      line-height: 24px;
      font-family: 'Outfit600';
      padding: 1%;
      float: left;
      width: 25%;
      padding-bottom: 3%;
  }

  