/* !!!!!!!!Whole Body CSS START!!!!!!!!*/
/* body {
    font-family: Space mono, sans-serif !important;
} */

/* !!!!!!!!Whole Body CSS START!!!!!!!!*/

/* !!!!!!!!LANDING PAGE CSS START!!!!!!!!*/

.border {
    margin-top: 150px;
    border: 4px solid black;
    height: 750px;
    background-color: rgb(220, 220, 220);
}

/* !!!!!!!!LANDING PAGE CSS END HERE!!!!!!!!*/

/* !!!!!!!!ABOUT PAGE CSS START!!!!!!!!*/

.responsiveImages {
    width: 100%;
    height: auto;
}

/* Section One CSS */

#sectionOne {
    height: 85vh;
    /* background: url(../images/test.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.et_pb_row_0 {
    max-width: 100% !important;
    width: 100% !important;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 0;
    overflow: visible !important;
    z-index: 3;
    max-width: 100% !important;
    width: 100%;
}

.et_pb_row_1 {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    z-index: 2;
    max-width: 100% !important;
    width: 100%;
}

.sectionMainImage {
    position: absolute;
    z-index: 10;
    top: 11vh;
    height: 89vh;
    width: 64vw;
    left: 30vw;
}

.sectionOneTitle {
    position: absolute;
    width: 40%;
    top: 20%;
    z-index: 11;
    left: 12%;
    font-size: 5.5vw;
    font-weight: bold;
    color: #26A9E0;
}

/* Section Two CSS */

#sectionTwo {
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 20vh;
}

#infoSection {
    /* padding-left: 29%; */
    padding-right: 5%;
}

.sectionTwoSubheader {
    font-family: Space Mono;
    font-weight: bold;
    font-size: 4rem;
    padding-left: 1.3%;
}

.sectionTwoHeader {
    font-size: 7rem;
    font-weight: bold;
    padding-left: 1%;
}

.sectionTwoHeaderInfo {
    font-weight: normal;
    font-size: 1.5rem;
    padding-left: 1.3%;
}

.sectionTwoImageContainer {
    text-align: center;
}

.sectionTwoButton {
    padding-left: 1%;

}

#infoSection .col {
    padding: 50px 30px 70px 30px;
}

.headerRow {
    padding: 20px;
}

.weAreSymbol {
    font-family: Space mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
    position: absolute;
    top: 85.5%;
    left: 7.3%;
    z-index: 3;
}

.generateSymbol {
    writing-mode: vertical-lr;
    font-family: Space mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16vw;
    color: #26A9E0;
    position: relative;
    /* top: 85%; */
}

.sectionTwoImageHeader {
    font-size: 4rem;
    font-weight: bold;
}

.sectionTwoImageDescription {
    font-size: 2rem;
}

/* Section Three CSS */

#sectionThree {
    height: 100vh;
    /* background-color: #606060; */
    position: relative;
    background: url(../images/AboutPageImages/sectionThreeBackground.png)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* #myVideo {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0px;
    top: 0px;
} */

.sectionThreeContent {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sectionThreeContent h1 {
    text-align: center;
    font-size: 15vw;
    font-style: normal;
    font-weight: bold;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
}

.sectionThreeButtonDiv {
    width: 55%;
    display: flex;
    justify-content: flex-end;
}

/* Section Four CSS */

#sectionFour {
    height: 2550px;
    background-color: #FFFFFF;
}

/* Section Five CSS */

#sectionFive {
    background-color: #FF6660;
    height: 100vh;
    position: relative;
}


/* ABOUT PAGE CSS END*/


/* APPLY PAGE CSS START*/

.applyPageButtonContainer {
    display: flex;
    flex-direction: column;
}

.applyPageButtons {
    background: none;
    border: none;
}

.applyPageButtons:hover {
    color: #FF6660;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin: 5px;
    height: 20rem;
    position: relative;
    display: inline-block;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.cardDescriptionLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, .5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity .3s;
}

.cards:hover .cardDescriptionLayer {
    visibility: visible;
    opacity: 1;
}

/* .img__description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
  }
   */
/* .cards:hover .img__description {
    transform: translateY(0);
  } */

/* APPLY PAGE CSS END*/