/* LANDING PAGE CSS START HERE*/

html, body{
    overflow-x: hidden;
    max-width: 100%;
    /* min-width: fit-content; */
}


.ldp_margin {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.ldp_column {
    float: left;
    width: 40%;
}

.ldp_row:after {
    content: "";
    display: table;
    clear: both;
}

.ldp_Generate {
    height: 400px;
    background-color:
        #26A9E0;
    margin-top: 9%;
    width: 140%
}

.ldp_GenerateText {
    padding-top: 30px;
    font-size: 170px;
    font-weight: 700;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    position: absolute;
    margin-left: 10%;
    font-family: "commuters-sans800";
}


.ldp_GenerateText2 {
    padding-top: 300px;
    font-size: 64px;
    text-align: left;
    font-weight: 800;
    color: #26A9E0;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    position: absolute;
    margin-left: 10%;
    width: 800px;
    line-height: 85px;
    font-family: "commuters-sans800";

}

.ldp_GenerateText3 {
    font-family: 'Outfit500';
    padding-left: 70px;
    padding-right: 60px;
    padding-top: 2%;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 32px;

}

.ldp_GenerateText4 {
    padding-top: 30px;
    color: white;
    font-size: 56px;
    font-weight: 600;
    line-height: 70px;
    font-family: "commuters-sans400";
}


.ldp_ourTeam {
    border: 4px solid #26A9E0;
    height: 1324px;
    background-color:
        #26A9E0;
}

.ldp_ourTeamText {
    padding-top: 30px;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 162px;
    font-family: "commuters-sans700";
}

.ldp_TeamName {
    float: left;
    color: white;
    font-size: 32px;
    font-family: "commuters-sans700";
}

.ldp_TeamDescription {
    font-family: 'Outfit400';
    text-align: left;
    color: white;
    font-size: 18px;
}

.ldp_wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 60px;
    color: #444;
}

.ldp_ourCommunity {
    border: 4px solid #FFBF3C;
    height: 1488px;
    background-color:
        #FFBF3C;

}

.ldp_ourCommunityText {
    padding-top: 30px;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    line-height: 162px;
    font-family: "commuters-sans700";
}

.ldp_ourCommunityText2 {
    border: 4px solid #FFBF3C;
    margin-top: 400px;
    margin-left: 8%;
    text-align: left;
    font-size: 18px;
    width: 25%;
    background-color:
        #FFBF3C;
    line-height: 32px;
    font-family: 'Outfit400';

}

.ldp_ourCommunityWhite {
    border: 4px solid white;
    width: 990px;
    height: 290px;
    margin-left: 8%;
    margin-top: 3%;
    background-color:
        white;
}

.ldp_applyText {
    margin-top: 15%;
    font-size: 162px;
    position: absolute;
    padding-left: 39%;
    font-family: "commuters-sans700";

}

.ldp_student {
    float: left;
    font-family: "commuters-sans700";
}

.ldp_client {
    float: right;
    font-family: "commuters-sans700";
}



.ldp_container {
    position: relative;

}

.ldp_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFBF3C;
}

.ldp_container:hover .ldp_overlay {
    opacity: 1;
}

.ldp_font {
    font-family: 'Space Mono';
}

@font-face {
    font-family: "commuters-sans800";
    src: url("https://use.typekit.net/af/e66d72/00000000000000007735c462/30/l?subset_id=2&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/e66d72/00000000000000007735c462/30/d?subset_id=2&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/e66d72/00000000000000007735c462/30/a?subset_id=2&fvd=n8&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "commuters-sans900";
    src: url("https://use.typekit.net/af/54ddfb/00000000000000007735c467/30/l?subset_id=2&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/54ddfb/00000000000000007735c467/30/d?subset_id=2&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/54ddfb/00000000000000007735c467/30/a?subset_id=2&fvd=n9&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
}


@font-face {
    font-family: "commuters-sans400";
    src: url("https://use.typekit.net/af/ca0a63/00000000000000007735c456/30/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/ca0a63/00000000000000007735c456/30/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/ca0a63/00000000000000007735c456/30/a?subset_id=2&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "commuters-sans700";
    src: url("https://use.typekit.net/af/857ae9/00000000000000007735c460/30/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/857ae9/00000000000000007735c460/30/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/857ae9/00000000000000007735c460/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spacemono/v6/i7dNIFZifjKcF5UAWdDRYERMR3K_MQacbw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit500';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v2/QGYyz_MVcBeNP4NjuGObqx1XmO1I4QK1O4a0FQItq6fNIg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Outfit400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v2/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQItq6fNIg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* LANDING PAGE END HERE*/

/* !!!!!!!!ABOUT PAGE CSS START!!!!!!!!*/

.abg_responsiveImages {
    width: 105%;
    height: 105%;
    left: 60%;
    top: 40%;
    padding: 5% 5% 5% 7%;
}

.abg_responsiveImages1 {
    width: 110%;
    height: 110%;
    left: 40%;
    top: 20%;
    padding: 5% 5% 5% 7%;

}


/* Section One CSS */

#Aboutpage_Section1 {
    height: 100vh;
}

.abg_et_pb_row_0 {
    max-width: 100% !important;
    width: 100% !important;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 0;
    overflow: visible !important;
    z-index: 3;
    max-width: 100% !important;
    width: 100%;
}

.abg_et_pb_row_1 {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    z-index: 2;
    max-width: 100% !important;
    width: 100%;
}

.abg_sectionMainImage {
    position: absolute;
    z-index: 10;
    top: 11vh;
    height: 89vh;
    width: 64vw;
    left: 30vw;
}

.Aboutpage_Section1Title {
    position: absolute;
    width: 40%;
    top: 20%;
    z-index: 11;
    left: 12%;
    font-size: 5.5vw;
    font-weight: bold;
    color: #26A9E0;
}

/* Section Two CSS */

#AboutPage_Section2 {
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 20vh;
}

#About_InfoSection {
    /* padding-left: 29%; */
    padding-right: 5%;
}


/* New */
.AboutPage_Section2Subheader {
    /* position: absolute; */
    /* width: 135px; */
    height: 36px;
    left: 746px;
    top: 194px;

    /* font-family: Commuters Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
/* identical to box height, or 36px */


    color: #424242;
}


/* New */
.AboutPage_Section2Header {
/* position: absolute; */
    width: 442px;
    height: 72px;
    left: 740px;
    top: 254px;

    /* font-family: Commuters Sans; */
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 100%;
    /* identical to box height, or 72px */


    /* Blue */

    color: #00A7E1;
}

.AboutPage_Section2_Top{
    display:flex;
    flex-direction: row; 
    align-items: center;
    align-content: center;
    /* align-self: flex-start; */
    justify-content: center;
    width: 100%;

}

.AboutPage_Section2_Middle{
    display:flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
    /* align-self: flex-start; */
}


.AboutPage_Section2_Bottom{
    display:flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
    /* align-self: flex-start; */

}

.bottom-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}



.Image-WeAreGenerate{
    padding: 0% 7% 5% 6%;
    height: 110%;
    width: 100%;
}


.abg_section_Header1{
    display:flex;
    flex-direction: column; 
    justify-content: center;
}

.abg_section_Header1 Row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding-bottom: 5%;
}


.AboutPage_Section2HeaderInfo {

    padding-top: 2%;
    width: 595px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    
    color: #000000;



}

.Image-RethinkTheSherm {
    text-align: center;
    align-items: center;
}


#About_InfoSection .col {
    padding: 50px 30px 70px 30px;
    display: flex;
    justify-content: center;
}


#About_InfoSection .col .row{
    padding-bottom: 5%;
}


.abg_headerRow {
    padding: 20px;
}

.abg_weAreSymbol {
    font-family: Space mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    color: black;
    position: absolute;
    top: 85.5%;
    left: 7.3%;
    z-index: 3;
}

.abg_generateSymbol {
    writing-mode: vertical-lr;
    font-family: Space mono, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16vw;
    color: #26A9E0;
    position: relative;
    /* top: 85%; */
}

.AboutPage_Section2ImageHeader {

    width: 70%;
    height: 40%;
    left: 60%;
    top: 40%;

    /* font-family: Commuters Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */

    text-transform: uppercase;
    padding-bottom: 2%;
    /* Grey */

    color: #424242;

    text-decoration: underline;
    -webkit-text-decoration-color: #00A7E1; /* Safari */  
    text-decoration-color: #00A7E1;
}


.AboutPage_Section2ImageHeader2 {
 /* VISIT OUR SHOWCASE */


    /* position: absolute; */
    width: 60%;
    height: 40%;
    left: 315px;
    top: 1650px;
    /* font-family: Commuters Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    line-height: 100%;
    text-transform: uppercase;
    color: #424242;
    padding-bottom: 2%;

    text-decoration: underline;
    -webkit-text-decoration-color: #FFC539; /* Safari */  
    text-decoration-color: #FFC539;

}


.AboutPage_Section2ImageDescription {
    /* font-size: 2rem; */
    /* position: absolute; */
    width: 314px;
    height: 84px;
    left: 315px;
    top: 1462px;

    /* Body 1 */

    /* font-family: Outfit; */
    font-style: normal;
    font-weight: normal;
    font-size: 130%;
    line-height: 110%;
    /* or 156% */


color: #000000;
}

/* Section Three CSS */


#abg_sectionThree {
    height: 100vh;
    width: 100%;
    /* background-color: #606060; */
    position: relative;
    /* background: url(./images/AboutPageImages/videoplayback.mp4); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Hero_Video_Container {
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, .7); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}





.Hero_Video_Container h1 {
 
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    text-align: center;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 292.079px;
    line-height: 259px;

    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;



}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}




#abg_sectionFour {
    height: 2550px;
    background-color: #FFFFFF;
}

/* Section Five CSS */

#abg_sectionFive {
    background-color: #FF6660;
    height: 100vh;
    position: relative;
}


/* ABOUT PAGE CSS END*/

.Rectangle {
    /* position: absolute; */
    width: 121.14px;
    height: 121.14px;
    left: 695.03px;
    top: 629.41px;

    background: #C4C4C4;
    transform: matrix(0.71, 0.63, -0.79, 0.71, 0, 0);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }
    
    #Aboutpage_Section1{
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow-x: hidden;
        flex: 1;
        text-align: center;
        align-items: center;
    }

}





/* ---------------------------------------------------------------------------------------------------------------------------- */


/* Director's Carousel */


.dc_team {
    font-family: "commuters-sans800";
    font-size: 64px;
    line-height: 64px;
    color: #424242;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    margin-left: 47px;
    text-align: center;
}


.dc_container {

    height: 100vh;
    width: 100%;
    background-color: rgba(66, 66, 66, 0.1);
    overflow: hidden;
    white-space: nowrap;
    padding: 5% 0 0 0 ;

}

#dc_flex-box{
    display:flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
    text-align: center
}

.dc_management {
    font-family: 'Outfit400';
    font-size: 24px;
    color: #00A7E1;
    line-height: 48px;


}

.dc_links {
    padding: 6% 20% 6% 20%;
}

.dc_links_container {
    padding: 0 8% 0 0;
}

.dc_box {
    height: 152px;
    width: 300px;
    position: relative;
    padding: 1.5%;
    margin-top: 15%;
    right: 8%;
    background: #00A7E1;

    /* Gen Blue */
}

.dc_text {
    width: 356px;
    height: 142px;
    left: 740px;
    top: 360px;

    font-family: "commuters-sans800";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 111.1%;
    text-align: start;
    /* White */

    color: #FFFFFF;
}

.dc_image {
    margin-left: 181px;
    width: 553px;
    height: 602px;
    align-items: center;
    align-content: center;
    padding: 2% 0% 0% 0%;
}

/* .dc_dirInfo {
    left: 44%;
    top: -70%;

} */


.dc_links_container{
    display:flex;
    flex-direction: column; 
    align-content: center;
    justify-content: center;
}

.dc_mng_outreach{
    display:flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
    padding: 5% 2% 5% 2%;
}

.dc_opr_software{
    display:flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
    padding: 5% 2% 5% 2%;
}

.dc_hardware_comm{
    display:flex;
    flex-direction: row; 
    align-content: center;
    justify-content: center;
    padding: 5% 2% 5% 2%;
}
/* 
.Dir_Info{
    display: flex;
    flex-direction: column;
    text-align: start;
} */


/* ---------------------------------------------------------------------------------------------------------------------------- */
















/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #Aboutpage_Section1{
        width: 100%;
        height: 100vh;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}