/* LANDING PAGE CSS START HERE*/

html, body{
    overflow-x: hidden;
    max-width: 100%;
    /* min-width: fit-content; */
}


.ldp_margin {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.ldp_column {
    float: left;
    width: 40%;
}

.ldp_row:after {
    content: "";
    display: table;
    clear: both;
}

.ldp_Generate {
    height: 400px;
    background-color:
        #26A9E0;
    margin-top: 9%;
    width: 140%
}

.ldp_GenerateText {
    padding-top: 30px;
    font-size: 170px;
    font-weight: 700;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    position: absolute;
    margin-left: 10%;
    font-family: "commuters-sans800";
}


.ldp_GenerateText2 {
    padding-top: 300px;
    font-size: 64px;
    text-align: left;
    font-weight: 800;
    color: #26A9E0;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    position: absolute;
    margin-left: 10%;
    width: 800px;
    line-height: 85px;
    font-family: "commuters-sans800";

}

.ldp_GenerateText3 {
    font-family: 'Outfit500';
    padding-left: 70px;
    padding-right: 60px;
    padding-top: 2%;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 32px;

}

.ldp_GenerateText4 {
    padding-top: 30px;
    color: white;
    font-size: 56px;
    font-weight: 600;
    line-height: 70px;
    font-family: "commuters-sans400";
}


.ldp_ourTeam {
    border: 4px solid #26A9E0;
    height: 1324px;
    background-color:
        #26A9E0;
}

.ldp_ourTeamText {
    padding-top: 30px;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 162px;
    font-family: "commuters-sans700";
}

.ldp_TeamName {
    float: left;
    color: white;
    font-size: 32px;
    font-family: "commuters-sans700";
}

.ldp_TeamDescription {
    font-family: 'Outfit400';
    text-align: left;
    color: white;
    font-size: 18px;
}

.ldp_wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 60px;
    color: #444;
}

.ldp_ourCommunity {
    border: 4px solid #FFBF3C;
    height: 1488px;
    background-color:
        #FFBF3C;

}

.ldp_ourCommunityText {
    padding-top: 30px;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    line-height: 162px;
    font-family: "commuters-sans700";
}

.ldp_ourCommunityText2 {
    border: 4px solid #FFBF3C;
    margin-top: 400px;
    margin-left: 8%;
    text-align: left;
    font-size: 18px;
    width: 25%;
    background-color:
        #FFBF3C;
    line-height: 32px;
    font-family: 'Outfit400';

}

.ldp_ourCommunityWhite {
    border: 4px solid white;
    width: 990px;
    height: 290px;
    margin-left: 8%;
    margin-top: 3%;
    background-color:
        white;
}

.ldp_applyText {
    margin-top: 15%;
    font-size: 162px;
    position: absolute;
    padding-left: 39%;
    font-family: "commuters-sans700";

}

.ldp_student {
    float: left;
    font-family: "commuters-sans700";
}

.ldp_client {
    float: right;
    font-family: "commuters-sans700";
}



.ldp_container {
    position: relative;

}

.ldp_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFBF3C;
}

.ldp_container:hover .ldp_overlay {
    opacity: 1;
}

.ldp_font {
    font-family: 'Space Mono';
}

@font-face {
    font-family: "commuters-sans800";
    src: url("https://use.typekit.net/af/e66d72/00000000000000007735c462/30/l?subset_id=2&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/e66d72/00000000000000007735c462/30/d?subset_id=2&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/e66d72/00000000000000007735c462/30/a?subset_id=2&fvd=n8&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "commuters-sans900";
    src: url("https://use.typekit.net/af/54ddfb/00000000000000007735c467/30/l?subset_id=2&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/54ddfb/00000000000000007735c467/30/d?subset_id=2&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/54ddfb/00000000000000007735c467/30/a?subset_id=2&fvd=n9&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
}


@font-face {
    font-family: "commuters-sans400";
    src: url("https://use.typekit.net/af/ca0a63/00000000000000007735c456/30/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/ca0a63/00000000000000007735c456/30/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/ca0a63/00000000000000007735c456/30/a?subset_id=2&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "commuters-sans700";
    src: url("https://use.typekit.net/af/857ae9/00000000000000007735c460/30/l?subset_id=2&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/857ae9/00000000000000007735c460/30/d?subset_id=2&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/857ae9/00000000000000007735c460/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spacemono/v6/i7dNIFZifjKcF5UAWdDRYERMR3K_MQacbw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Space Mono700';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/spacemono/v10/i7dMIFZifjKcF5UAWdDRaPpZUFWaHi6WZ3Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Outfit500';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v2/QGYyz_MVcBeNP4NjuGObqx1XmO1I4QK1O4a0FQItq6fNIg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'Outfit600';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/outfit/v4/QGYyz_MVcBeNP4NjuGObqx1XmO1I4e6yO4a0FQItq6fNIg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Outfit400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v2/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0FQItq6fNIg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* LANDING PAGE END HERE*/

/* !!!!!!!!ABOUT PAGE CSS START!!!!!!!!*/

.abg_responsiveImages {
    width: 105%;
    height: 105%;
    left: 60%;
    top: 40%;
    padding: 5% 5% 5% 7%;
}

.abg_responsiveImages1 {
    width: 110%;
    height: 110%;
    left: 40%;
    top: 20%;
    padding: 5% 5% 5% 7%;

}

/* Section Two CSS */



/* Section Three CSS */


#abg_sectionThree {
    height: 100vh;
    width: 100%;
    /* background-color: #606060; */
    position: relative;
    /* background: url(./images/LandingPageImages/videoplayback.mp4); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}










#abg_sectionFour {
    height: 2550px;
    background-color: #FFFFFF;
}

/* Section Five CSS */

#abg_sectionFive {
    background-color: #FF6660;
    height: 100vh;
    position: relative;
}


.Rectangle {
    /* position: absolute; */
    width: 121.14px;
    height: 121.14px;
    left: 695.03px;
    top: 629.41px;

    background: #C4C4C4;
    transform: matrix(0.71, 0.63, -0.79, 0.71, 0, 0);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    html, body{
        max-width: 100%;
        overflow-x: hidden;
    }
    
    #Aboutpage_Section1{
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow-x: hidden;
        flex: 1;
        text-align: center;
        align-items: center;
    }

}





/* ---------------------------------------------------------------------------------------------------------------------------- */
















/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #Aboutpage_Section1{
        width: 100%;
        height: 100vh;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
