.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #a559ec;
}

.container {
  width: unset;
  display: flex;
  flex-direction: row;
}

.outline-inclusion {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 90px;
  padding: 0 10px 10px 10px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a559ec;
}
.text-div-inclusion {
  padding: 0 50px 0 100px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.vertical-div {
  width: 50px;
}

.text-div {
  margin: 5%;
  padding: 5%;
}
