.i-am-a-style {
    /* font-family: Commuters Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 160px;
    line-height: 200px;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.header-style {
    /* font-family: Commuters Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 137px;
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.apply-style {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
}

.apply-position {
    /* horizontally center */
    left: 50%;
    transform: translate(-50%, -50%);
    /* vertical positioning */
    bottom: 2.5%;
}

.left-triangle {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(0, 167, 225, 0);
    border-right-width: 0;
	border-left-width: 80px;
    border-top-width: 100px;
    border-bottom-width: 100px;
	margin-top: -100px;
}

.right-triangle {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(0, 167, 225, 0);
    border-left-width: 0;
	border-right-width: 80px;
    border-top-width: 100px;
    border-bottom-width: 100px;
	margin-top: -100px;
}
