a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .background-black {
    background-color: black;
  }


  .column{
    display: flex;
    flex-direction: column;
  }

  .alignItemsRight {
    display: flex;
    flex-direction: row;
  }

  .DevelopmentWheelThree {
    height: 63.11vh;
    margin-top: 12.55vh;
    margin-bottom: 12.55vh;
  }

  .ideation {
    margin-left: 12.55vh;
  }

  

  

  .ProductionText{
    width: 44.29vh;
    height: 11.22vh;
    left: 95.23vh;
    top: 33vh;
    margin-top: 12.55vh;

    /* H2 */

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: min(7.5vh, 10vw);
    line-height: 11.22vh;
    /* identical to box height, or 128% */

    text-transform: uppercase;

    

    color: #187DFF;
  }
 
  @media only screen and (max-device-width: 650px) {

    .background-black-text {
      width: 100vw;
      height: 60vh;
      margin-left: 5%;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .background-black-wheel {
      width: 100vw;
      height: 70vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .paragraphText {
      width: 90vw;
      font-size: 2vh;
      margin-top: 0%;
    }

   

    .DevelopmentWheelThree {
      size: 30.11vh;
      height: 30.11vh;
      margin-top: 30.11vh;
    }

    .DevelopmentWheelImage {
      width: 30.11vh;
    }
  
    .ideation {
      width: 100vw;
      margin-left: 5%;
    }
  
    .ProductionText {
      font-size: 15vw;
    }
  }

  
