a {
  text-decoration: none;
  color: #ffffff;
}
.background-black {
  background-color: black;
}

.column {
  display: flex;
  flex-direction: column;
}

.alignItemsRight {
  display: flex;
  flex-direction: row;
}

.DevelopmentWheelThree {
  height: 63.11vh;
  margin-top: 30vh;
  margin-bottom: 12.55vh;
}

.DevelopmentWheelImageThree {
  width: calc(0.7 * min(64vh, 100vw));
}

.ProductionText {
  width: 44.29vh;
  height: 11.22vh;
  left: 95.23vh;
  top: 33vh;
  margin-top: 12.55vh;

  /* H2 */

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: min(7.5vh, 10vw);
  line-height: 11.22vh;
  /* identical to box height, or 128% */

  text-transform: uppercase;

  color: #187dff;
}

@media (max-width: 650px) or (max-device-width: 650px) {
  .background-black-text {
    width: 100vw;
    height: 60vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  .background-black-wheel {
    width: 120vw;
    height: 70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraphText {
    width: 90vw;
    font-size: 2vh;
    margin-top: 0%;
  }

  .DevelopmentWheelThree {
    size: 30.11vh;
    height: 30.11vh;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 21%;
  }

  .DevelopmentWheelImageThree {
    width: 30vh;
  }

  .ProductionText {
    font-size: 15vw;
    line-height: 7vh;
    height: 10vh;
    margin-top: 0%;
  }
}
