a {
  text-decoration: none;
  color: #ffffff;
}

.footer-container-mobile {
  background-color: #187dff;
  text-align: left;
  padding-left: 15vw;
  padding-top: 5vh;
  padding-right: 15vw;
  padding-bottom: 5vh;
  width: 100vw;
  margin: 0;
  height: auto;
}

.left-bar-item {
  display: flex;
  flex-direction: column;
}

.footer-link-text {
  color: #ffffff;
  font-weight: 400;
  white-space: nowrap;
  max-height: 30px;
  font-size: 20px;
  font-family: 'Space Mono';
}

.footer-text {
  height: 30px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 15%;
  margin: 5%;
}

.hor-footer-links {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

a:hover {
  font-weight: 1000;
  color: #ffffff;
}

.hor-icon {
  height: fit-content;
  margin-bottom: 40px;
}

.hor-icon {
  height: fit-content;
}

.sherm {
  padding: 5%;
  margin-top: 0;
}

.logo-placement {
  width: 14vh;
  height: 18vh;
}

.hor-social-icons {
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}

.footer-two {
  background-color: orange;
  align-items: right;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
}

.rectangleLogo {
  margin-left: 50px;
  margin-top: 20px;
  width: 90px;
  height: 90px;
  background: black;
}

.social-icons .row {
  flex-wrap: nowrap;
  text-align: center;
}

@media only screen and (max-device-width: 700px) {
  .social-icons-mobile .social-media {
    width: 6vw;
    height: 4vh;
  }
}
