h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 8.78vh;
  color: white;
  text-align: center;
}

.projects-container {
  padding: 2vh;
}

.blurb-container {
  width: 54vh;;
  text-align: left;
  padding: 2vh;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 2vh;
  line-height: 3.75vh;
  color: black;
}

.featured_projects_container {
  background-color: #6fcf97;
  width: 70vh;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
