.projects-container {
  padding: 2vh;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: min(14.77vh, 21.2vw);
  line-height: 15vh;
  color: white;
  text-align: center;
}

.blurb-container {
  width: 53vh;;
  text-align: left;
  padding: 2vh;
  font-family: 'Outfit 300';;
  font-style: normal;
  font-size: 3.15vh;
  line-height: 4.7vh;
  color: black;
}

.featured_projects_container {
  background-color: #6fcf97;
  width: 70vh;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
