a {
    text-decoration: none;
    color: #ffffff;
}

.footer-container-mobile {
    background-color: #187dff;
    text-align: left;
    padding-left: 15vw;
    padding-top: 5vh;
    padding-right: 15vw;
    padding-bottom: 5vh;
    width: 100vw;
    margin: 0;
    height: auto;
}

.left-bar-item {
    display: flex;
    flex-direction: column;
}

.footer-text {
    height: 30px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 15%;
    margin: 5%;
}

a:hover {
    font-weight: 1000;
    color: #ffffff;
}

.sherm {
    padding: 5%;
    margin-top: 0;
}

.logo-placement {
    width: 14vh;
    height: 18vh;
}

.social-icons-mobile {
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-two {
    background-color: orange;
    align-items: right;
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
}

.rectangleLogo {
    margin-left: 50px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
    background: black;
}

.icon {
    padding-top: 14%;
    padding-bottom: 0;
}

.social-icons {
    margin-bottom: 10%;
}


.social-icons .row {
    flex-wrap: nowrap;
    text-align: center;
}

.social-icons .social-media {
    width: 6vw;
    height: 4vh;
}

@media (min-width: 750px) {
    .social-icons .social-media {
        width: 3vw;
        height: 4vh;
    }
}

@media (min-width: 1224px) {
    .social-icons .social-media {
        width: 2vw;
        height: 4vh;
    }
}

@media only screen and (max-device-width: 700px) {
    .social-icons-mobile .social-media {
        width: 10vw;
        height: 6vh;
    }
}