a {
    text-decoration: none;
    color: #ffffff;
}

.footer-container {
    background-color: #187dff;
    text-align: left;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    float: left;
    height: auto;
}

.left-bar {
    display: flex;
    flex-direction: column;
}

.footer-text {
    height: 30px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 15%;
    margin: 5%;
}

a:hover {
    font-weight: 1000;
    color: #ffffff;
}

.sherm {
    padding: 5%;
    margin-top: 0;
}

.logo-placement {
    width: 14vh;
    height: 18vh;
}

.social-icons {
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10;
}

.footer-two {
    background-color: orange;
    align-items: right;
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
}

.rectangleLogo {
    margin-left: 50px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
    background: black;
}

.icon {
    padding-top: 14%;
    padding-bottom: 0;
}