a {
    text-decoration: none;
    color: #ffffff;
}

*/ .footer-container {
    background-color: #187dff;
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
    float: left;
    height: 30vh;
}

.footer-text {
    height: 30px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 15%;
    margin: 5%;
}

a:hover {
    font-weight: 1000;
    color: #ffffff;
}

.sherm {
    padding: 5%;
}

.logo-background {
    background-color: white;
    width: 35%;
    height: 50%;
}

.logo-placement {
    background-color: white;
    width: 40%;
    height: 60%;
}

.logo-shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.social-icons {
    margin-right: 0%;
}

.footer-two {
    background-color: orange;
    align-items: right;
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
}

.rectangleLogo {
    margin-left: 50px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
    background: black;
}

.icon {
    padding-bottom: 10%;
}