.why-gen-row-width {
    width: 60vw;
}

.why-gen-row-width-mobile {
    width: 85vw;
}
  
.why-gen-goodies {
    color: #FF5751;
    font-size: 1.7vw;
    line-height: 100%;
    font-family: 'Space Mono';
    margin-right: 8%;
}

.why-gen-goodies-mobile {
    color: #FF5751;
    font-size: 4.2vw;
    line-height: 100%;
    font-family: 'Space Mono';
    margin-right: 8%;
}

.why-gen-why-generate {
    color: white;
    font-size: 6vw;
    line-height: 100%;
    font-family: 'Space Mono 700';
}

.why-gen-why-generate-mobile {
    color: white;
    font-size: 12vw;
    line-height: 100%;
    font-family: 'Space Mono 700';
}
.why-gen-section {
    font-family: 'Space Mono 700';
    color: white;
    font-size: 3.5vw;
    line-height: 75%;
}

.why-gen-fit-image {
    max-height: 50%;
    max-width: 100%;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.why-gen-text {
    height: 50%;
    color: white;
    font-size: 1.4vw;
    line-height: 160%;
    font-family: 'Outfit 300';
    margin-top: 8%;
    text-align: left;
}

.why-gen-text-mobile {
    height: 50%;
    color: white;
    font-size: 4vw;
    line-height: 160%;
    font-family: 'Outfit 300';
    margin-top: 12%;
    margin-bottom: 12%;
    text-align: left;
}

.mobile {
    display: inline;
}

@media screen and (min-device-width: 501px) {
    .mobile {
        display: none;
    }
}