.featured-projects {
    width: 100vw;
    display: flex;
}

.projects-title {
    color: #187DFF;
    font-weight: 700;
}

#projects-navbar {
    padding-top: 2%;
}

.projects-text {
    color: #000;
    font-size: 2.5vh;
    margin-top: 5%;
    max-width: 400px;
}

.featured-projects-text {
    margin-left: 4%;
    width: 40%;
    min-width: 396px;
    margin-top: -3%;
}

.projects-down img {
    transform: rotate(180deg);
}

.featured-project-buttons {
    margin-top: 15%;
}

.projects-button {
    background: #FFFFFF;
    border: 1px solid #111111;
    width: 90px;
    height: 90px;
    box-shadow: -.5rem .6rem;
}

.projects-up {
    margin-right: 40px;
}

.project {
    display: flex;
    margin-top : 6%
}

.project img {
    width: 50%;
    height: 25%;
    min-width: 390px;
    min-height: 556px;
}

.project-text h1 {
    font-family: 'Space Mono 700';
    font-size: 7vh;
}

.project-team {
    font-family: 'Space Mono';
    font-size: 3vh;
    color: #000;
    text-align: left;
    text-transform: none;
    font-weight: 400;
}

.project-text p {
    max-width: 250px;
    font-size: 2vh;
}

.view-project-button {
    color: black;
    background-color: white;
    border: 1px solid #111111;
    box-shadow: -.5rem .6rem;
    font-family: 'Space Mono';
    font-size: 3vh;
    padding: 2% 20%;
    margin-top: 45%;
}
