.featured-projects {
    width: 100vw;
}

.projects-title {
    color: #187DFF;
    font-weight: 700;
}

.projects-text {
    color: #000;
    font-size: 2.5vh;
    margin-top: 5%;
    max-width: 400px;
}

.featured-projects-text {
    margin-left: 4%;
    width: 40%;
}

.projects-down img {
    transform: rotate(180deg);
}

.featured-project-buttons {
    margin-left: 4%;
}

.projects-button {
    background: #FFFFFF;
    border: 1px solid #111111;
    width: 90px;
    height: 90px;
    box-shadow: -.5rem .6rem;
}

.projects-up {
    margin-right: 40px
}
