.landing-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    background-color: white;
    font-family: 'Space Mono 700';
    font-size: 7vw;
    height: 20vh;
    text-transform: uppercase;
    color: #1477f8;
}

.landing-header:hover {
    cursor: pointer;
    color: #1477f8;
}

.landing-link-group {
    display: flex;
    height: 70vh;
    flex-direction: column;
    gap: 3vh;
}

.landing-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    font-family: "Space Mono 700";
    font-size: 5.5vw;
    text-transform: uppercase;
}

.landing-nav-link:hover {
    color: transparent;
    -webkit-text-stroke: 1.5px white;
}

.button-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    gap: 1.5vw;
  }