.nextPage {
    background: #FFBF3C;
    width: calc(18vw + 2vh);
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 2%;
}

.nextPage a {
    width: 100%;
    height: 100%;
}

.nextPageButton {
    color: white;
    background: black;
    font-family: 'Space Mono 700';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20%;
    box-sizing: border-box;
    width: calc(100% - 2vh);
    height: 100%;
    flex-direction: column;
    margin-left: 2vh;
    box-shadow: -2vh 2vh 0 0 #ffbf3c, -2vh 2vh 0 2px black;
}

.nextPageArrow {
    margin: 1vh 0;
    width: 6vh;
}

.nextPageName {
    font-size: 12vh;
    text-transform: uppercase;
    transform: rotate(90deg);
}

@media only screen and (max-device-width: 650px) {
    .nextPageArrow {
        transform: rotate(90deg);
        width: 4vh;
    }

    .nextPageName {
        transform: unset;
        font-size: 5vh;
    }

    .nextPageButton {
        flex-direction: row;
        padding: 3%;
        box-shadow: -1.5vh 1.5vh 0 0 #ffbf3c, -1.5vh 1.5vh 0 2px black;
    }

    .nextPage {
        width: 100vw;
        height: unset;
        padding: 10% 5%;
    }
}