.whoWeAreContainer {
    width: max(60%, 80vh);
    margin: 0%;
    padding: 0%;
}

.whowearetext {
    padding-top: 15vh;
    padding-left: 15%;
    font-family: 'Space Mono 700';
    font-style: normal;
    font-weight: 700;
    font-size: min(8.78vh, 6vw);
    line-height: 11.22vh;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;
}

.whowearetextmobile {
    padding-top: 25%;
    padding-left: 15%;
    font-family: 'Space Mono 700';
    font-style: normal;
    font-weight: 700;
    font-size: 5.5vh;
    line-height: 11.22vh;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bluerectangle {
    height: 40vh;
    background: #187DFF;
    position: relative;
}

.purplerectangle {
    height: 60vh;
    background: #A559EC;
}

.whoweareparagraph {
    padding: 5%;
    padding-left: 10%;
    width: 90%;
    height: 80%;
    left: 187.7vh;
    top: 46.83vh;
    text-align: left;
    font-family: 'Outfit 300';
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: max(2.8vw, 3.5vh);
    color: #FFFFFF;
}

@media (max-width: 650px) or (max-device-width: 650px) {
    .whoWeAreContainer {
        width: 100%;
        height: 80vh;
        margin: 0%;
        padding: 0%;
    }
    .whowearetext {
        padding-top: 0px;
        padding-left: 0px;
        font-size: 11.5vw;
        position: relative;
        font-weight: 600;
        line-height: 12vw;
    }
    .bluerectangle {
        height: 20vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5vw;
        align-items: flex-end;
    }
    .purplerectangle {
        height: 60vh;
    }
    .whoweareparagraph {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        line-height: 3vh;
    }
    .generatelogowhiteone {
        width: 15vw;
        height: 15vw;
        background-image: url('../../../assets/images/landingpage/weare/GenerateLogoWhite.png');
        background-size: cover;
    }
}