/* Move to public folder */

.interestedcontainer{
  width: 120vh;
}

a {
    text-decoration: none;
    color: #ffffff;
  }
  .background-white {
    background-color: white;
  }


.interestedflexbox {
  display: flex;
  flex-direction: row;
}
  .interestedText {
    margin-left: 6%;
    margin-top: 15%;
    font-family: 'Space Mono 700';
    font-style: normal;
    font-size: 10vh;
    text-transform: uppercase;
    color: black;
  }

  .applyNowBox {
    display: inline-block;
    width: 34vh;
    height: 10vh;
    margin-left: 2vh;
    margin-top: 20vh;
    background: #187DFF;
    border: 1px solid #111111;
  }

  .blackRectangle {
    display: inline-block;
    width: 30vh;
    height: 10vh;
    background: black;
    margin-left: 10vh;

  }

  .sentenceText{
    margin-left: 10%;
    margin-top: 16%;
    width: 40vh;
    font-family: 'Outfit 300';
    font-style: normal;
    font-weight: 300;
    font-size: 3vh;
    color: black;
    margin-left: 10%;
    padding-left: 10%;
  }

  .cooltriangle {
    margin-left: -5vh;
    margin-top: 15vh;
  }

  .leftcarrot {
    margin-left: 10%;
    margin-top: 20%;
  }
  

  .interestedJoinNowBox{    
    width: 34vh; 
    height: 10vh;
    margin-left: 10%;
    margin-top: 20%;
    padding-top: 1%;
    background: #187DFF;
    border: 1px solid #111111;
    box-shadow: 5px 10px;
  }

  .joinCommunitytext {
    width: 16.8vh;
    height: 4.5vh;
    margin-left: 20%;
    font-family: 'Space Mono 400';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 5vh;
    line-height: 6vh;

    /* White */

    color: #FFFFFF;
  }
  


