.heading-text {
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-align: left;
  white-space: nowrap;
}

.headingTwo-text {
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-align: left;
}

.belong-here {
  padding:1px;
  color: black;
  text-align: left;
  position: relative;
  top: 1px;
  width: 300px;
  height: 400px;
}

.thrive-together {
  display: flex;
  flex-direction: column;
  padding:1px;
  width: 300px;
  height: 400px;
}

.paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  padding-top: 75px;
}

.color-block {
  text-align: center;
  position: relative;
} 

.graphic {
  height: 900px;
  width: auto;
}

#belong-here-container {
  height: 800px;
  width: 1500px;
  max-width: none;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -550px;
}

.belong-here-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  padding: 5%;
}

.heading-text-mobile {
  color: #187DFF;
  font-family: "Space Mono 700";
  text-transform: uppercase;
  font-size: 80px;
  line-height: 100px;
  padding-top: 10%;
  overflow-wrap: break-word;
}

.culture-text-mobile {
  color: #111111;
  font-size: 40px;
  font-family: "Outfit";
  font-weight: 300;
  line-height: 60px;
  word-wrap: break-word
}

.graphic-mobile {
  height: 40%;
  width: auto;
  margin-left: 70vw;
}