.heading-text {
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: 5vmin;
  font-weight: 700;
  color: black;
  text-align: left;
}

.headingTwo-text {
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: 5vmin;
  font-weight: 700;
  color: black;
  text-align: left;
}

.belong-here {
  padding:1px;
  color: black;
  text-align: left;
  position: relative;
  top: 1px;
}

.thrive-together {
  width: 28.12em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding:1px;
}

.paragraphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 100%;
}

.color-block {
  text-align: center;
  position: relative;
  top: -150px;
} 

.graphic {
  height: 700px;
}

#belong-here-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
