.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.vh-25 {
    height: 25vh;
}

.vh-30 {
    height: 30vh;
}

.vh-40 {
    height: 40vh;
}

.vh-75 {
    height: 75vh;
}



h2 {
    font-family: 'Space Mono 700';
    font-size: 7vw;
    line-height: 100%;
}

h3 {
    font-family: 'Space Mono 700';
    font-size: 6.5vw;
    line-height: 100%;
}

h5 {
    font-family: 'Outfit 300';
    font-size: 2.3vw;
    line-height: 85%;
}

p {
    font-family: 'Outfit 300';
    font-size: 1.2vw;
    line-height: 150%;
}

.meet-the-team-style {
    color: rgba(255, 255, 255, 0.2);
    line-height: 55%;
    margin-left: 6rem !important;
}

.logo {
    max-width: 75%;
    max-height: 75%;
}


/* TODO: delete after move to public */
.fit-content {
    height: fit-content;
    width: fit-content;
}

.left-text-style {
    text-align: right;
}

.parent-orgs-style {
    word-spacing: 9999rem;
}

.our-history-text-style {
    margin-top: -1rem;
}



@media only screen and (max-device-width: 650px) {
    .mobile {
        padding-left: 0% !important;
    }

    .growthMantraContainer {
        width: 100%;
        padding-bottom: 10%;
    }

    .mantra {
        padding: 0;
        padding-top: 10%;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .Growth-text, .IsOurText, .MantraText {
        width: unset;
        text-align: center;
        height: auto;
        margin-top: 0;
        line-height: 100%;
    }

    .Growth-text {
        font-size: 24.5vw;
    }

    .IsOurText {
        font-size: 12vw;
    }

    .MantraText {
        font-size: 20.5vw;
    }

    .paragraphTextGrowthMantra, .paragraphTextGrowthMantraTwo {
        font-size: 4.5vw;
        line-height: 4vh;
        width: unset;
        height: unset;
        margin: 0 auto;
        padding-top: 10%;
        width: 95%;
    }
}