
.all-hands {
  margin-left: 5%; 
}

.all-hands-div {
  width: 40%;
  margin-left: 5%;
}
.all-hands-text {
  width: 80%;
  height: 10%;
  color: black;
  font-size: 3vh;
  line-height: 160%;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  column-gap: 100px;
}

.all-hands-title {
  font-family: "Space Mono 700";
  font-style: normal;
  font-size: 7vh;
  margin-top: 30%;
  text-transform: uppercase;
  color: #187dff;
  text-align: left;
}

.shiftleft1 {
  margin-right: 50px;
}

.shiftleft2 {
  /* margin-right: 20px; */
  margin-bottom: 10px; 
}
.showcase {
  margin-top:-10%;
}