.generateMascotContainer {
  margin-left: 130%;
  position: relative;
}

.generateMascot {
  position: relative;
  top: 20%;
  left: 0%;
  margin: 0 auto;
}

.our-culture-quote-positioning {
  left: 42%;
  top: 43%;
  width: 45rem;
  position: absolute;
}

.our-culture-quote {
  color: #a559ec;
  font-family: "Space Mono 700";
  font-size: calc(12px + 2.5rem);
  font-style: bold;
  text-transform: uppercase;
  line-height: 110%;
}

.our-culture-big-positioning {
  left: 0%;
  top: 35%;
  width: 45rem;
  position: absolute;
}

.our-culture-big {
  font-family: "Space Mono 700";
  font-size: calc(72px + 16rem);
  line-height: 77%;
  color: #187dff;
}
