.intro-container {
  width: 1200px;
  max-width: none;
}

.intro-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 2000px;
  margin-bottom: 10vh;
}

.bottom-0-culture {
  bottom: 5rem!important;
}

.generateMascotContainer {
  position: absolute;
  left: 650px;
  top: /*-2px;*/ 1.5vw;
}

.generateMascot {
  position: absolute;
  margin: 0 auto;
}

.generateMascot-mobile {
  width: 30%;
  margin-right: 15%;
  margin-left: auto;
}

.our-culture-quote-positioning {
  position: absolute;
  left: 510px;
  top: 19.5vw; /*max(21vw, 267px);*/
  min-height: 200px;
  height: 160px;
  min-width: 400px;
  width: 604px;
}

.our-culture-quote {
  color: #a559ec;
  font-family: "Space Mono 700";
  width: 650px;
  height: 160px;
  font-size: 70px;
  line-height: 65px;
  font-style: bold;
  text-transform: uppercase;
}

.our-culture-quote-mobile {
  width: 40%;
  margin-top: 15%;
  margin-right: 5%;
  margin-left: auto;
  color: #a559ec;
  font-family: "Space Mono 700";
  font-size: 85px;
  line-height: 85px;
  font-style: bold;
  text-transform: uppercase;
}

.our-culture-big-positioning {
  position: absolute;
  left: 10px;
  top: 20.75vw; /*max(22vw, 275px);*/
  min-height: 200px;
  height: 150px;
  min-width: 400px;
  width: 600px;
}

.our-culture-big {
  color: #187dff;
  font-family: "Space Mono 700";
  font-size: 250px;
  line-height: 220px;
}

.our-culture-big-mobile {
  padding-left: 20%;
  color: #187DFF;
  font-family: "Space Mono 700";
  font-size: 400px;
  line-height: 400px;
  transform: rotate(90deg);
}
