.button-text {
    font-family: "Space Mono 400";
    font-style: normal;
    font-weight: normal;
}

/* Size for screens smaller than medium */
.button-text-size {
    font-size: 1.5vw;
}

/* For at least medium-sized screens */
@media (min-width: 768px) {
    .button-text-size {
        font-size: 1.1vw;
    }
}

/* For screens less than small-size */
@media (max-width: 575.5px) {
    .button-text-size {
        font-size: 2vw;
    }
}