.wheel-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: max(4rem, 4vw);
}

#skills {
  width: min(55vw, 55vh);
  height: min(55vw, 55vh);
  transform: rotate(0deg);
  scale: 90%;
}

.wheel-text {
  max-width: 35em;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0;
  position: absolute;
}

.circle img {
  z-index: 100;
}

.slice-silhouette {
  background-color: #111111;
  z-index: 0;
  pointer-events: none;
}

.animate {
  -webkit-transition: transform 0.2s cubic-bezier(0.74, 1.13, 0.83, 1.2);
  -moz-transition: transform 0.2s cubic-bezier(0.74, 1.13, 0.83, 1.2);
  -o-transition: transform 0.2s cubic-bezier(0.74, 1.13, 0.83, 1.2);
  transition: transform 0.2s cubic-bezier(0.74, 1.13, 0.83, 1.2);
}

.selected {
  transform-origin: center center;
}

@media (max-width: 840px) {
  .wheel-content {
    flex-direction: column;
    margin-top: 2rem;
  }

  #skills {
    width: min(60vw, 60vh);
    height: min(60vw, 60vh);
  }

  .wheel-content {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .management-text {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}
