.wheel-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
  gap: 8vw;
}

#skills {
  width: min(64vh, 90vw);
  height: min(64vh, 90vw);
  transform: rotate(0deg);
}
  
.center {
  position: relative;
  align-self: center;
  top: calc(50% - 12.36vh);
  left: calc(50% - 12.36vh);
  width: 0px;
  height: 0px;
  z-index: 1000;
  border: 12.36vh solid white;
  border-radius: 50%;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

.animate {
  -webkit-transition: 0.2s cubic-bezier(.74,1.13,.83,1.2);
  -moz-transition: 0.2s cubic-bezier(.74,1.13,.83,1.2);
  -o-transition: 0.2s cubic-bezier(.74,1.13,.83,1.2);
  transition: 0.2s cubic-bezier(.74,1.13,.83,1.2);
}

.animate:hover {
  transform: scale(1.1);
  transform-origin: center center;
}

#slice0 {
  background-color:  #187DFF;
  clip-path: polygon(50% 50%, 100% 66.25%, 100% 100%, 50% 100%);
}

#slice1 {
  background-color: #6FCF97;
  clip-path: polygon(50% 50%, 88.125% 0, 100% 0, 100% 66.25%);
}

#slice2 {
    background-color: #FFBF3C;
    clip-path: polygon(11.875% 0, 50% 50%, 88.125% 0);
  }

#slice3 {
  background-color: #A559EC;
  clip-path: polygon(50% 50%, 0 66.25%, 0 0, 11.875% 0);
}

#slice4 {
  background-color: #FF6660;
  clip-path: polygon(50% 50%, 50% 100%, 0 100%, 0 66.25%);
}

.image0 {
  width: 20%;
  height: 18%;
  z-index: 100;
  margin-left: 39.18%;
  margin-top: 53.93%;
}

.image1 {
  width: 20%;
  height: 20%;
  z-index: 100;
  margin-left: 63.4%;
  margin-top: -20.6%;
}

.image2 {
  width: 20%;
  height: 20%;
  z-index: 100;
  margin-top: -67%;
}

.image3 {
  width: 20%;
  height: 20%;
  z-index: 100;
  margin-left: -63.4%;
  margin-top: -20.6%;
}

.image4 {
  width: 20%;
  height: 18%;
  z-index: 100;
  margin-left: -39.18%;
  margin-top: 53.93%;
}

.button {
  width: 20vh;
  font-family: 'Outfit 300';
  font-size: 2.47vh;
  line-height: 3.7vh;
  margin-top: 10%;
}

@media (max-width: 650px) or (max-device-width: 650px) {
  .center {
    border: 17vw solid white;
    top: calc(50% - 17vw);
    left: calc(50% - 17vw);
  }

  .management-wheel {
    margin: 0vw;
    width: 100vw;
  }

  .management-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #title {
    font-size: 13vw;
    padding-top:0%
  }

  #description {
    width: 100%;
  }
}