.mobile-card-container {
    display: none;
}

.desktop-card-container {
    width: 25vw;
    position: relative;
    top: 60vh;
}

.weare-header {
    width: 1vw;
}

.our-mission-we-are {
    color: #FFBF3C;
    font-size: 35vh;
    line-height: 77%;
    font-family: 'Space Mono 700';
    word-spacing: -5vw;
}


.value-card-sizing {
    height: 30vh;
    aspect-ratio: 1.2 / 1;
}

.value-card-shadow {
    box-shadow: .5rem .6rem;
}

.value-card-header {
    color: white;
    font-family: 'Space Mono 700';
    font-size: 4vh;
    line-height: 100%;
    -webkit-text-stroke-width: 1.5px;
    height: 20%;
}

.value-card-text {
    color: white;
    font-family: 'Outfit 300';
    font-size: 2vh;
    line-height: 3vh;
    height: 80%;
    padding: 5%;
}

.value-card:not(:last-child) {
    padding-right: 8%;
}

.value-card:last-child {
    padding-right: 5%;
}

/* TODO: delete after move to public */
.fit-image {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

/* TODO: delete and move to public, copied from AffiliateOrgIntros */
.tint {
    filter: brightness(40%);
}

/* TODO: delete after move to public */
.fit-content {
    height: fit-content;
    width: fit-content;
}


.mw-content {
    width: max-content;
}

.we-are-header-space {
    height: 10vh;
}

.cards-space {
    width: 60%;
}

.our-mission-our-values {
    width: 112vh;
    color: #FFBF3C;
    font-size: 3vh;
    line-height: 100%;
    font-family: 'Space Mono';
    margin-right: 3%;
    padding-top: 20vh;
}

@media only screen and (max-device-width: 650px) {
    .weare-header {
        width: 90% !important;
        padding-left: 5%;
    }

    .we-are-header-space {
        height: 7vh;
    }

    .our-mission-our-values {
        font-size: 2vh;
        margin-right: 10vh;
        padding: 0%;
        width: 70vw;
        padding-bottom: 2% !important;
    }

    .our-mission-we-are {
        font-size: 10vh;
    }

    .mobile-card-container {
        display: true;
        flex-direction: column;
        align-items: center;
    }

    .value-card-sizing {
        width: 85vw;
        aspect-ratio: 1.2 / 1;
        height: auto;
    }

    .value-card:not(:last-child) {
        padding-right: .5rem;
        padding-bottom: 5%;
    }
    
    .value-card:last-child {
        padding-right: .5rem;
    }
}