
.value-card-sizing {
    height: min(20vw, 350px);
    aspect-ratio: 1.2 / 1;
}

.our-mission-our-values {
    color: #FFBF3C;
    font-size: 5vh;
    line-height: 100%;
    font-family: 'Space Mono';
    margin-right: 3%;
}


.our-mission-we-are {
    color: #FFBF3C;
    font-size: 25vh;
    line-height: 77%;
    font-family: 'Space Mono 700';
    word-spacing: -4vh;
}

.value-card-shadow {
    box-shadow: .5rem .6rem;
}

.value-card-header {
    color: white;
    font-family: 'Space Mono 700';
    font-size: min(2.7vw, 50px);
    line-height: 100%;
    -webkit-text-stroke-width: min(0.1vw, 1.5px);
    height: 15%;
}

.value-card-text {
    color: white;
    font-family: 'Outfit 300';
    font-size: min(1.2vw, 25px);
    line-height: min(2.15vw, 35px);
    height: 80%;
    padding: 5%;
}

.value-card:not(:last-child) {
    padding-right: 8%;
}

.value-card:last-child {
    padding-right: 5%;
}

/* TODO: delete after move to public */
.fit-image {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

/* TODO: delete and move to public, copied from AffiliateOrgIntros */
.tint {
    filter: brightness(40%);
}

/* TODO: delete after move to public */
.fit-content {
    height: fit-content;
    width: fit-content;
}


.mw-content {
    width: max-content;
}

.we-are-header-space {
    height: 6vh;
}

.cards-space {
    width: 60vw;
}

@media only screen and (max-device-width: 650px) {
    .weare-header {
        width: 90% !important;
        padding-left: 5%;
    }

    .we-are-header-space {
        height: 7vh;
    }

    .value-card-shadow {
        box-shadow: .10rem .12rem;
    }

    .value-card-text {
        font-size: 5vw;
        line-height: 7vw;
    }

    .our-mission-our-values {
        font-size: 2vh;
        margin-right: 10vh;
        padding-bottom: 2% !important;
    }

    .our-mission-we-are {
        font-size: 10vh;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .value-card-header {
        font-size: 10vw;
    }

    .value-card-sizing {
        width: 85vw;
        aspect-ratio: 1.2 / 1;
        height: auto;
    }

    .value-card:not(:last-child) {
        padding-right: .5rem;
        padding-bottom: 10%;
    }
    
    .value-card:last-child {
        padding-right: .5rem;
    }
}