a {
    text-decoration: none;
    color: #ffffff;
}

.vert-top-level-contaner {
    height: 100vh;
    background-color: #187dff;
    padding-left: 5vh;
    padding-right: 5vh;
}

.vert-logo-placement {
    width: 12vh;
    height: 15vh;
}

.vert-footer-container {
    background-color: #187dff;
    width: auto;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    float: left;
}

.footer-link-bold {
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    max-height: 30px;
    font-size: 2vh;
}

.footer-link-text {
    color: #ffffff;
    font-weight: 400;
    white-space: nowrap;
    max-height: 30px;
    font-size: 2vh;
    font-family: 'Space Mono';
}

.vert-footer-links-general {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-top: 60px;
}

.vert-social-icons {
    margin-top: auto;
}

a:hover {
    font-weight: 1000;
    color: #ffffff;
}

.vert-sherm {
    /* margin-top: 25%; */
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: center;
    margin-left: 0%;
}

.vert-sherm-placement {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    justify-content: center;
}

.vert-icon {
    height: 75px;
    margin-top: 3vh;
}

.footer-container-mobile {
    background-color: #187dff;
    text-align: left;
    padding-left: 15vw;
    padding-top: 5vh;
    padding-right: 15vw;
    padding-bottom: 5vh;
    width: 100vw;
    margin: 0;
    height: auto;
}

.left-bar-item {
    display: flex;
    flex-direction: column;
}

.footer-text {
    height: 30px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #ffffff;
    padding-left: 15%;
    margin: 5%;
}

.hor-footer-links {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.hor-icon {
    height: fit-content;
    margin-bottom: 40px;
}

.hor-icon {
    height: fit-content;
}

.sherm {
    padding: 5%;
    margin-top: 0;
}

.logo-placement {
    width: 14vh;
    height: 18vh;
}

.hor-social-icons {
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;
}

.footer-two {
    background-color: orange;
    align-items: right;
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
}

.rectangleLogo {
    margin-left: 50px;
    margin-top: 20px;
    width: 90px;
    height: 90px;
    background: black;
}

.social-media {
    width: 2vw;
    height: 3vh;
}

@media (max-width: 1200px) {
    .social-media {
        width: 4vw;
        height: 9vh;
    }
}

@media (max-width: 650px) {
    .social-media {
        width: 5vw;
        height: 3.5vh;
    }
}

@media (max-device-width: 650px) {
    .social-media {
        width: 6vw;
        height: 4vh;
    }
}