/* H1 */
h1 {
font-family: 'Space Mono';
font-style: bold;
font-weight: 700;
font-size: 92px; 
line-height: 92px;
text-shadow: -1px 0 #A559EC, 0 1px #A559EC, 1px 0 #A559EC, 0 -1px #A559EC;
transform: rotate(90deg);
text-transform: uppercase;
}

h2 {
    color: white;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 92px;
    text-transform: uppercase;
    text-shadow: -2px 0 #DFDFDF, 0 2px #DFDFDF, 2px 0 #DFDFDF, 0 -2px #DFDFDF;
    }

.diversity {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.descriptions {
    position: absolute;
width: 450px;
height: 276px;
left: 4002px;
top: 195px;
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 34px;
color: #111111;
}

.sideways {
    position: absolute;
width: 1634px;
height: 92px;
left: 4656px;
top: 350px;

}

.number {
    position: absolute;
    width: 169px;
    height: 92px;
    left: 4728px;
    top: 275px;

}


.white-text {
    color: white;
 }

 .purple-text {
    color: #A559EC;
 }

