.row {
    height: 100%;
}
.col {
    width: 100%;
}

.main-body-height {
    height: 70%;
}

.hm-15 {
    height: 15%;
}

.hm-25 {
    height: 25%;
}

.hm-34 {
    height: 50%;
}

.px-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.tint {
    filter: brightness(40%);
}

.intro-paragraph-text {
    font-family: Space Mono;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 175%;
    color: white;
}

.triangle {
    height: 25%;
    /* TODO: Make width same length as height */
    width: 15%;
}

.button-text {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    color: #111111;
}

.learn-more-btn-color {
    background-color: #FFC539;
    border: 0;
}

.header-text {
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 400%;
    line-height: 100%;
    width: fit-content;
    white-space: nowrap;
    background-color: purple;
    transform-origin: ;
}

/* --------------------------------------- */



/* .org-intro-container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.image-overflow-cover {
    display: inline-block;
	overflow: hidden;
}

.background-center-image {
    position: absolute;
    filter: brightness(55%);
    width: 100%;
}

.background-image-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}

.logo-margin {
    margin-right: 50px;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(50%);
} */