#page-bg {
  background-image: url('../../assets/images/landingpage-v3/GridBg.svg');
  background-repeat: repeat; /* repeat the bg infinitely down the y-axis*/
  background-size: 64rem;
}

.ll-container {
  width: max(50%, 400px);
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  z-index: -20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container-new {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* Align items to the start (left) */
  align-items: center;
  background-color: #187dff;
  background-color: #4285f4;
  padding: 3vh;
  padding-left: 6vw;
  padding-right: 6vw;
  color: white;
}


.links-containerr {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3vw;
  /* Stack links vertically */
}

.link-new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 0.3vh;
  width: 30vw;
  align-content: space-evenly;
  flex-wrap: wrap;
  /* Wrap icons if they overflow */
  flex-basis: auto;
  /* Allow container to shrink */
}

.icon-container-new {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;  
  flex-wrap: wrap;
  /* Wrap icons if they overflow */
  flex-basis: auto;
  /* Allow container to shrink */
}

.social-link {
  padding: 1vw;
}

.shadow-arrow-container-2 {
  display: flex;
  justify-content: flex-end;
  margin-left: 3vw;
  flex-wrap: wrap;
  /* Wrap icons if they overflow */
  flex-basis: auto;
  /* Allow container to shrink */
}

.landing-lines {
  width: 600px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  z-index: -10;
}

#ll1-row {
  min-height: 750px;
  max-height: 750px;
}

#ll2-row {
  min-height: 950px;
  max-height: 950px;
  padding-bottom: 12rem;
}

#ll3-row {
  min-height: 683px;
  max-height: 683px;
}

#ll4-row {
  padding-left: 4rem;
  padding-right: 4rem;
}

#ll5-row {
  padding: 4rem;
}

#ll7-row {
  min-height: 1400px;
  max-height: 1400px;
  padding-left: 4rem;
  padding-right: 4rem;
}

#landing-lines-1 {
  background-image: url('../../assets/images/landingpage-v3/LandingLines1.svg');
}

#landing-lines-2 {
  background-image: url('../../assets/images/landingpage-v3/LandingLines2.svg');
}

#landing-lines-3 {
  background-image: url('../../assets/images/landingpage-v3/LandingLines3.svg');
}

#landing-lines-4 {
  background-image: url('../../assets/images/landingpage-v3/LandingLines4.svg');
}

.bg-row {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 0;
}

.landing-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 3rem;
  padding-top: 2rem;
}

.half-container {
  width: 50%;
}

.blue-bg {
  background-color: #1477f8;
}

#about-down-arrow {
  height: 6vw;
}

.landing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Space Mono 700';
  font-size: 5vw;
  text-transform: uppercase;
  height: 30vh;
  gap: 1rem;
  color: #1777f8;
  padding: 1rem;
}

.landing-header:hover {
  color: #1477f8;
}

#generate-logo {
  min-width: 60px;
  min-height: 60px;
  width: max(6vw);
  height: max(6vw);
}

.landing-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-family: 'Space Mono 700';
  font-size: max(3rem, 5vw);
  text-transform: uppercase;
}

.landing-nav-link:hover {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}

.button-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  gap: 1.5vw;
}

#what-is-generate {
  padding: 3rem;
  padding-top: 5rem;
}

#we-are {
  padding-left: 4rem;
}

#why-generate {
  padding-left: 4rem;
  padding-right: 4rem;
}

#values-wrapper {
  position: relative;
}

#values-container {
  padding-top: 3rem;
  padding-right: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  color: white;
  font-family: 'Space Mono 700';
  font-size: max(4rem, 5vw);
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: end;
}

#socials {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 4rem;
}

.social-icon {
  width: 3rem;
  height: 3rem;
}

.social-icon:hover {
  transform: scale(1.1);
}

.white-h2-text {
  color: white;
  font-family: 'Space Mono 700';
  font-size: 3rem;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.white-header-text {
  color: white;
  font-family: 'Space Mono 700';
  font-size: max(4rem, 5vw);
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.white-p-text {
  color: white;
  font-family: Outfit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  max-width: 85vw;
  margin-bottom: 0.5rem;
}

/* TODO: fix resize */
.we-are-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.we-are-img {
  width: max(40vw, 18rem);
  object-fit: contain;
  margin-top: 14vh;
}

.why-gen-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.why-gen-col {
  display: flex;
  flex-direction: column;
}

.why-gen-col-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.why-gen-img {
  width: min(calc(100% - 1rem), 40vw);
  height: auto;
  aspect-ratio: 5223/3482;
  object-fit: contain;
}

.choose-character-row {
  display: flex;
  flex-direction: row;
}

.choose-character-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choose-character-container {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  gap: 3rem;
}

.mascot-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.mascot-button {
  cursor: 'pointer';
}

#generate-mascot {
  width: 8vw;
  height: auto;
}

.mascot-button:nth-child(odd) {
  transform: translateY(-1rem);
}

.mascot-button:nth-child(even) {
  transform: translateY(1rem);
}

#arcade-text {
  width: 50vw;
  height: auto;
}

#rainbow-trim {
  width: 80vw;
  height: auto;
  margin-bottom: 4rem;
}

#arcade-machine {
  margin-left: -18rem;
  width: 35vw;
  height: auto;
  margin-top: 4rem;
}

#showcase-large-stars {
  width: 100%; 
  height: auto;
}

#showcase-small-stars {
  width: 100%; 
  height: auto;
}

#showcase-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

#showcase-header {
  margin-top: -9vw;
}

#showcase-top-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#showcase-right-col {
  display: flex;
  flex-direction: column;
}

.showcase-img {
  width: min(calc(100% - 1rem), 45vw);
  height: auto;
  object-fit: contain;
}

#showcase-carousel {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#carousel-inner-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  gap: 2rem;
}

#showcase-carousel-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 15rem;
}

#showcase-year {
  overflow-wrap: break-word;
  color:  white;
  font-family: "Space Mono";
  font-size: 10rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;

}

@media (max-width: 1200px) {
  .we-are-container {
    flex-direction: column;
  }
  .why-gen-container {
    flex-direction: column;
  }
  .why-gen-col-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .why-gen-img {
    /* TODO: FIX */
    width: 35vw;
  }
}

@media (max-width: 760px) {
  .why-gen-col {
    flex-direction: column;
  }
  .why-gen-col-content {
    flex-direction: column;
  }
  #wgcc-rev {
    flex-direction: column-reverse;
  }
  .why-gen-img {
    width: min(calc(100% - 1rem), 40vw);
    align-self: center;
  }
}

@media (max-width: 650px) {
  .footer-container-new-mobile {
    display: flex;
    flex-direction: column;
    /* Align items to the start (left) */
    background-color: #187dff;
    padding: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
  }

  .links-containerr-mobile {
    display: flex;
    flex-direction: row;
    margin-left: 6vw;
    /* Stack links vertically */
  }

  .link-new-mobile {
    display: flex;
    flex-direction: column;
  }

  .icon-container-new-mobile {
    display: flex;
    justify-content: flex-end;
  }

  .social-link-mobile {
    padding: 1vw;
  }

  .shadow-arrow-container-2-mobile {
    margin-left: 60vw;
  }
}

@media (max-width: 840px) {
  .half-container {
    width: 90%;
  }
  .ll-container {
    opacity: 0%;
    transform: scaleX(0%);
  }
  .landing-header {
    font-size: 4rem;
  }
  #values-container {
    align-items: end;
  }
  .white-header-text {
    margin-bottom: 1.5rem;
  }
  .white-p-text {
    margin-bottom: 0rem;
  }

  .value {
    padding: 0.25rem;
    font-size: 2.5rem;
  }

  #value-0 {
    background-color: #55c9ef;
  }

  #value-1 {
    background-color: #ff5752;
  }

  #value-2 {
    background-color: #6fcf97;
  }

  #value-3 {
    background-color: #a056e3;
  }

  #value-4 {
    background-color: #ffbf3b;
  }

  #showcase-top-content {
    flex-direction: column;
    align-items: center;
  }

  #carousel-inner-content{
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  #showcase-carousel-label{
    flex-direction: row;
    gap: 0.5rem;
  }

  #showcase-year{
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
