.events-row {
  display: flex;
  flex-direction: row;
  width: 1500px;
}

.moral-budget-title {
  font-family: "Space Mono 700";
  font-style: normal;
  font-size: 48px;
  margin-top: 120%;
  text-transform: uppercase;
  color: #a559ec;
  text-align: left;
  margin-left: 30px;
}

.moral-budget-text {
  width: 400px;
  height: 10%;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  margin-left: 30px;
  column-gap: 100px;
}

.orientation-title {
  font-family: "Space Mono 700";
  font-style: normal;
  font-size: 48px;

  text-transform: uppercase;
  color: #187dff;
  text-align: left;
  
  margin-top: 120px;
}

.orientation-text {
  width: 400px;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  font-style: normal;
  font-weight: 300;

  column-gap: 100px;
}

.all-hands-title {
  font-family: "Space Mono 700";
  font-style: normal;
  font-size: 48px;
  margin-top: 50%;
  text-transform: uppercase;
  color: #187dff;
  text-align: left;
}

.all-hands-text {
  width: 400px;
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  font-style: normal;
  font-weight: 300;

  column-gap: 100px;
}

.showcase-title {
  font-family: "Space Mono 700";
  font-style: normal;
  font-size: 48px;
  margin-top: 81%;
  text-transform: uppercase;
  color: #187dff;
  text-align: left;
}

.showcase-text {
  width: 400px;
  color: black;
  font-size: 20px; 
  line-height: 30px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  column-gap: 100px;
}

.inclined-image {
  width: 1000px;
  aspect-ratio: 1.7/1;
  position: relative;
  left: -500px;
  top: 120px;

}

.shiftLeft {
  margin-left: 20px;
  margin-top: -15%;
}


.shiftleft3 {
  margin-right: 50px;
}

 .inclined-img-container {
  width: 100px;
} 

.celebrate-rep-container {
  /* width: 400px; */
  height: 80%;
  margin-left: 0px;
}

.MoraleBudget {
  margin-top: -5%;
}
.MoraleBudgetTitle {
  margin-top: -15%;
}