.moral-budget-title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 10vh;
  text-transform: uppercase;
  color: #a559ec;
  /*text-align: left;
  margin-left: 30px;*/
  height: 10vh;
}

.moral-budget-text {
  width: 30vw;
  height: 10%;
  color: black;
  font-size: 1vw;
  /*line-height: 160%;*/
  text-align: left;
  font-style: normal;
  font-weight: 300;
  column-gap: 100px;
}

.orientation-title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 10vh;

  text-transform: uppercase;
  color: #187dff;
  text-align: left;
}

.orientation-text {
  width: 120%;
  height: 10%;
  color: black;
  font-size: 1vw;
  line-height: 160%;
  text-align: left;
  font-style: normal;
  font-weight: 300;

  column-gap: 100px;
}

.all-hands-title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 5%;
  margin-top: 50%;
  text-transform: uppercase;
  color: #187dff;
  text-align: left;
}

.all-hands-text {
  width: 120%;
  height: 10%;
  color: black;
  font-size: 1.36vw;
  line-height: 160%;
  text-align: left;
  font-style: normal;
  font-weight: 300;

  column-gap: 100px;
}

.showcase-title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 5%;
  margin-top: 81%;
  text-transform: uppercase;
  color: #187dff;
  text-align: left;
}

.showcase-text {
  width: 120%;
  height: 10%;
  color: black;
  font-size: 1.35vw;
  line-height: 160%;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  column-gap: 100px;
}

.inclined-image {
  transform: rotate(-10deg);
  height: 100%;
  width: 170%;
}

.shiftLeft {
  margin-left: 20px;
  margin-top: -15%;
}


.shiftleft3 {
  margin-right: 50px;
}

/* .inclined-img-container {
  height: 100vh;
  width: 170vw;
} */

.celebrate-rep-container {
  /* width: 400px; */
  width: 120%;
  height: 80%;
  /*margin-top: -30%;*/
  margin-left: -10%;
}

.MoraleBudget {
  margin-top: -5%;
  position: absolute;
  bottom: 10vh;
}

.MoraleBudgetTitle {
}