/* Move to public folder */
.text-no-fill {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}

.events-container {
  width: max(75vw, 600px);
}
.events-top {
  color: #a2a2a2;
  font-family: "Space Mono";
  font-size: 1.3vw;
  line-height: 150%;
}

.events-header {
  font-family: "Space Mono";
  font-size: min(18vw, 35vh);
  line-height: 100%;
  color: #ff6660;
}

.events-picture-container {
  width: 100%;
  /*width: max(100vw, 600px);*/
}

.retreat-div {
  position: relative;
  width: 30vw;
  top: 30vh;
}

.retreat-title {
  font-family: "Space Mono 700";
  font-style: normal;
  font-size: 7vh;
  text-transform: uppercase;
  color: #a559ec;
  text-align: left;
}

.retreat-text {
  width: 50vmin;
  height: 10%;
  /* color: black; */
  font-size: 3vmin;
  line-height: 160%;
  text-align: left;
  font-style: normal;
  font-weight: 300;
}

.events-quotation-mark {
  color: #187dff;
  font-family: "Space Mono 700";
  font-size: 6vw;
  line-height: 75%;
}

.events-our-values {
  color: #ffbf3c;
  font-size: 1.7vw;
  line-height: 100%;
  font-family: "Space Mono";
  margin-right: 3%;
}

.events-we-are {
  color: #ffbf3c;
  font-size: 15vw;
  line-height: 77%;
  font-family: "Space Mono 700";
  word-spacing: -5vw;
}

.img-formatting {
  width: 18.75em;
  height: 28.12em;
  object-fit: cover;
  border: 1px solid;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -15%;
}

.for-padding {
  padding: 2em;
  margin-top: 20%;
}

.eventsTitle {
  box-sizing: border-box;
  width: 1103px;
  height: 230px;
  left: 6191px;
  top: 100px;

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 300px;
  line-height: 230px;
  /* identical to box height, or 77% */

  text-transform: uppercase;

  /* Core/HRDWRE Red */

  border: 2px solid #FF6660;
}