.mirror {
    transform: scaleX(-1);
}

.director-box-style {
    background-color: #00A7E1;
    max-width: 36%;
    z-index: 10;
    transform: translateY(-50%);
}

.director-name {
    font-family: "Commuters Sans 700";
    font-size: 3.5vw;
    color: white;
    line-height: 111.1%;
 }
 
 .team-icon {
     width: 3.6vw;
 }

 .h-40 {
     height: 40%;
 }

.h-30 {
    height: 30%;
}

.w-80 {
    width: 80%;
}

.h-33 {
    height: 33.33333333%;
}

.title-style {
    font-family: "Outfit 400";
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 2.5vw;
    line-height: 100%;
}

.email-style {
    font-family: "Space Mono 400";
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 1.4vw;
    line-height: 100%;
}

/* .inactive-icon, .active-icon:hover, .active-icon:active, .active-icon:focus {
    display: inline;
} */
.inactive-icon:hover, .inactive-icon:active, .inactive-icon:focus {
    display: none;
}

