.showcase-div {
    width: 60vmin;
    /* margin-left: 2%; */
    margin-top: 10%;
  }
  
  .showcase {
    margin-right:5%;
  }
  
  .all-hands {
    margin-left: 5%; 
  }
  
  
  .showcase-text {
    width: 50vmin;
    height: 10%;
    color: black;
    font-size: 3vmin;
    line-height: 160%;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    column-gap: 100px;
  }
  
  .showcase-title {
    font-family: "Space Mono 700";
    font-style: normal;
    font-size: 7vh;
    margin-top: 30%;
    text-transform: uppercase;
    color: #187dff;
    text-align: left;
  }
  
  .shiftleft1 {
    margin-right: 50px;
  }
  
  .shiftleft2 {
    /* margin-right: 20px; */
    margin-bottom: 10px; 
  }