.vh-15 {
  height: 15vh;
}

.container-h {
  height: 375vh;
}

.card {
  width: 27vw;
  height: 62vh;
  transition: all 0.6s ease;
}

/* Card animations */
/* Move cards on top of each other */
.react-card-flip:not(:first-child) {
  margin-left: -22vw;
}
/* .react-card-flip:not(:last-child) {
    margin-right: -22vw;
} */
/* Reveal all of the selected card */
.react-card-flip:hover ~ .react-card-flip {
  transform: translateX(22vw);
}
/* Move selected card up to distinguish from other cards */
.react-card-flip:hover {
  transform: translateY(-1rem);
}

.gen-card-header {
  font-family: "Space Mono 700";
  font-size: calc(max(3.2vw, 3.2vh));
  line-height: 150%;
  transform-origin: bottom right;
  transform: rotate(270deg);
  text-transform: uppercase;
  right: 0%;
}

.gen-card-body {
  height: 85%;
  font-family: "Outfit 300";
  font-style: normal;
  font-size: 1.2vw;
  line-height: 150%;
}

.position-details {
  font-family: "Outfit 400";
  font-size: calc(max(1.2vw, 1.2vh));
  line-height: 135%;
}

.no-right-margin {
  margin-right: 0 !important;
  float: right !important;
}


/* TODO: delete after move to public */
.fit-image {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.cards-display {
  justify-content: center;
}

.mob {
  display: none;
}

.s-butt-mob {
  margin-top: 5%;
}

.right-align-headings{
  text-align: right;
}

.border{
  border-color: white;
  border-radius: 10px;
}

.leadership-heading {
  font-family: "Space Mono";
  color: #ffbf3c;
  text-transform: lowercase;
  font-size: calc(min(3vh, 3vw));
  height: auto;
  margin: 0px;
  margin-left: auto;
}

.meet-the-team {
  font-family: "Space Mono";
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: calc(min(10vh, 10vw));
  height: auto; 
  white-space: nowrap;
  /* justify-content: right;
  display: flex;  */
}

.leadership-header{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-end; 
  /* height: 100vh; /* Set a height to cover the entire viewport */
  padding-top: calc(max(30vh, 120px));

}

.text-no-wrap{
  white-space: nowrap;
}


@media only screen and (max-device-width: 650px) {
  .mob {
    display: block;
  }
  .cards-display {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .card {
    width: 87.5vw;
    height: 66.67vh;
    margin-bottom: 5vh;
  }

  .react-card-flip:not(:first-child) {
    margin-left: 0;
  }

  .react-card-flip:hover ~ .react-card-flip {
    transform: none;
  }

  .leadership-img {
    width: 75%;
    height: 75%;
    margin-left: 10%;
    object-fit: cover;
  }

  .gen-card-header {
    font-size: max(4vw, 4vh);
  }

  .position-details {
    font-family: "Outfit 400";
    font-size: max(2vw, 2vh);
    line-height: 135%;
  }

 .no-top-padding {
  padding-top: 0;
 }
 
}
