a {
    text-decoration: none;
    color: #FFFFFF;
  }

  .productDevcontainer{
    width: 100vh;
    padding-left: 5%;
  }

  .background-black {
    background-color: black;
  }

  .ProductDevText {
    width: 50vh;
    height: 34.5vh;
    left: 20.95vh;
    top: 23.46vh;
    
    /* H1 */
    
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 11.22vmin;
    line-height: 11.22vh;
    /* or 100% */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
  }

  .prodParagraphText {
    width: min(60vh, calc(80vw - 12vh));
    height: 40vh;
    top: 71.14vh;
    margin-top: 6.27vh;
    /* B1 */
    font-family: 'Outfit 400';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vmin;
    line-height: 3.51vh;
    /* or 156% */
    
    
    color: #FFFFFF;
  }

  .ourProcessText {
    width: 30vh;
    height: 3.76vh;
    left: 18.78vh;
    top: 20.58vh;
    margin-top: 12.55vh;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
    line-height: 3.76vh;
    /* identical to box height, or 150% */


    /* Core/MNGMNT Yellow */

    color: #FFBF3C;
  }


  .column{
    display: flex;
    flex-direction: column;
  }

  .alignItemsRight {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
  }

  