.today-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 12%;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  padding: 10%;
}

.stat-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 103px;
  margin-right: 20%;
}

/*
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-right: 20%;
  */

.stat_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 105px;
}

/* @media only screen and (max-device-width: 650px) {
  .today-stats-container {
    flex-direction: column;
    height: unset !important;
    margin-top: -1px;
  }
} */

@media (max-width: 650px) or (max-device-width: 650px) {
  .stats-mob {
    width: 100vw;
    height: auto;
    padding-bottom: 10vw;
  }

  .today-container {
    width: 100%;
    height: unset;
    justify-content: center;
  }

  .today-container h1 {
    font-size: 12vw;
    height: min-content !important;
    font-family: 'Space Mono 700';
    text-align: center;
  }

  .stats-container-mob {
    margin-left: 13.08vw;
    margin-right: 13.08vw;
    overflow: wrap;
    /* justify-content: space-between; */
  }

  .stat-container-mob {
    width: 36.9vw;
    height: 35vw;
    text-align: center;
    overflow: hidden;
  }

  .stat-title-mob {
    font-size: 5.64vw;
    text-align: center;
  }

  .stat-number-mob {
    font-size: 17vw;
  }
}
