.py-7 {
    padding-top: 7%;
    padding-bottom: 7%;
}

.px-6 {
    padding-left: 6%;
    padding-right: 6%;
}

.dividing-margin {
    margin-top: 10%;
    margin-bottom: 10%;
}

.vh-90 {
    height: 90vh;
}

/* TODO: make public; same as in AffiliateOrgIntros css */
.fit-image {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.we-are-style {
    font-family: "Commuters Sans 700";
    font-style: normal;
    font-weight: bold;
    color: #424242;
    font-size: 3.1vw;
}

.generate-text-header-style {
    font-family: "Commuters Sans 800";
    font-style: normal;
    font-weight: 800;
    color: #00A7E1;
    font-size: 5.5vw;
}

.generate-info-style {
    font-family: "Outfit 400";
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 1.4vw;
    line-height: 140%;
}

.subheader-style {
    font-family: "Commuters Sans 700";
    font-style: normal;
    font-weight: bold;
    color: #424242;
    text-decoration: underline;
    text-decoration-color: #00A7E1;
    text-decoration-thickness: .4vw;
    text-underline-offset: 2px;
    font-size: 3.7vw;
    line-height: 100%;
}

.subheader-info-style {
    font-family: "Outfit 400";
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 1.7vw;
    line-height: 156%;
}