.teams-button-container {
  display: flex;
  flex-direction: column;
}

.teams-button {
  color: white;
  font-family: 'Space Mono 700';
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  margin-top: 4vw;
}

.teams-button:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  cursor: pointer;
}

.teams-button-selected {
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-family: 'Space Mono 700';
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  margin-top: 4vw;
}

.positions-container {
  display: flex;
  flex-wrap: wrap;
  width: 91vw;
  background-color: white;
  padding: 4vw;
  min-height: 15vw;
  margin-top: 3vw;
}

.position-text {
  color: #187dff;
  font-family: 'Outfit 600';
  font-size: 20px;
  margin: 2vw;
  width: 20vw;
  word-wrap: normal;
}

.position-text:hover {
  -webkit-text-stroke: 1px #187dff;
  color: transparent;
  cursor: pointer;
}

.position-text-disabled {
  color: rgba(24, 125, 255, 0.5);
  font-family: 'Outfit 600';
  font-size: 20px;
  margin: 2vw;
  width: 20vw;
  word-wrap: normal;
  cursor: pointer;
}

.no-positions-text {
  color: #187dff;
  font-family: 'Outfit 600';
  font-size: 20px;
  margin: 2vw;
  width: 20vw;
  word-wrap: normal;
}

@media (max-width: 650px) or (max-device-width: 650px) {
  .teams-button {
    font-size: 9vw;
    line-height: 11vw;
  }

  .teams-button:hover {
    -webkit-text-stroke: 0.2vw white;
  }

  .teams-button-selected {
    font-size: 9vw;
    line-height: 11vw;
    -webkit-text-stroke: 0.2vw white;
  }

  .position-text {
    font-size: 2vw;
  }

  .position-text:hover {
    -webkit-text-stroke: 0.1vw #187dff;
  }

  .position-text-disabled {
    font-size: 2vw;
  }

  .no-positions-text {
    font-size: 2vw;
  }
}
